

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568289520517121105.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-568289520517121105.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568289520517121105.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568289520517121105.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568289520517121105.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568289520517121105.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568289520517121105.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568289520517121105.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568289520517121105.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568289520517121105.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568289520517121105.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568289520517121105.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568289520517121105.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568289520517121105.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568289520517121105.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568289520517121105.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568289520517121105.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568289520517121105.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568289520517121105.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568289520517121105.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568289520517121105.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568289520517121105.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568289520517121105.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-568289520517121105.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-568289520517121105.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568289520517121105.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568289520517121105.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568289520517121105.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568289520517121105.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568289520517121105.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568289520517121105.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568289520517121105.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568289520517121105.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568289520517121105.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568289520517121105.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568289520517121105.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568289520517121105.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-568289520517121105.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568289520517121105.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568289520517121105.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568289520517121105.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568289520517121105.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568289520517121105.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-568289520517121105.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568289520517121105.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568289520517121105.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568289520517121105.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568289520517121105.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568289520517121105.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568289520517121105 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568289520517121105 .gp-relative{position:relative}.gps-568289520517121105 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568289520517121105 .gp-mb-0{margin-bottom:0}.gps-568289520517121105 .gp-flex{display:flex}.gps-568289520517121105 .gp-grid{display:grid}.gps-568289520517121105 .gp-contents{display:contents}.gps-568289520517121105 .\!gp-hidden{display:none!important}.gps-568289520517121105 .gp-hidden{display:none}.gps-568289520517121105 .gp-h-auto{height:auto}.gps-568289520517121105 .gp-h-full{height:100%}.gps-568289520517121105 .gp-w-full{width:100%}.gps-568289520517121105 .gp-max-w-full{max-width:100%}.gps-568289520517121105 .gp-flex-none{flex:none}.gps-568289520517121105 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568289520517121105 .gp-flex-col{flex-direction:column}.gps-568289520517121105 .gp-gap-y-0{row-gap:0}.gps-568289520517121105 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568289520517121105 .gp-duration-200{transition-duration:.2s}.gps-568289520517121105 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-568289520517121105 .tablet\:\!gp-hidden{display:none!important}.gps-568289520517121105 .tablet\:gp-hidden{display:none}.gps-568289520517121105 .tablet\:gp-h-auto{height:auto}.gps-568289520517121105 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-568289520517121105 .mobile\:\!gp-hidden{display:none!important}.gps-568289520517121105 .mobile\:gp-hidden{display:none}.gps-568289520517121105 .mobile\:gp-h-auto{height:auto}.gps-568289520517121105 .mobile\:gp-flex-none{flex:none}}.gps-568289520517121105 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568289520517121105 .\[\&_p\]\:gp-inline p{display:inline}.gps-568289520517121105 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568289520517121105 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gA7IoO47ta" data-id="gA7IoO47ta"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gA7IoO47ta gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gj_dFJ7AA4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gnovVVD424" data-id="gnovVVD424"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:50%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnovVVD424 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gODqkGNMew gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpnO72GVx-">
    <div
      parentTag="Col"
        class="gpnO72GVx- "
        style="--ta:left;--mt:15px;--mb:0px;--pt:0px;--pb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpnO72GVx-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpnO72GVx-">
        .gpnO72GVx- {

}
.gpnO72GVx- p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 32px;
line-height: 120%;
text-align: center;
letter-spacing: 0%;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="g5sf5CUfmm" data-id="g5sf5CUfmm"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5sf5CUfmm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBwOKv20j3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g6xxpzV4x0">
    <div
      parentTag="Col"
        class="g6xxpzV4x0 "
        style="--ta:left;--mt:16px;--mb:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6xxpzV4x0_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g6xxpzV4x0">
        .g6xxpzV4x0 {

}
.g6xxpzV4x0 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
color: #F55F86;
}
      </style>
    <div
    
     data-id="gz1kHKc7_S"
    role="presentation"
    class="gp-group/image gz1kHKc7_S gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mb:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-1507c70f-10a2-4ba9-b5c2-66be5dd591e2.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcxLTQ2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgZmlsbD0idXJsKCNnLTY3MS00NjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzEiIHRvPSI2NzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-1507c70f-10a2-4ba9-b5c2-66be5dd591e2.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcxLTQ2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgZmlsbD0idXJsKCNnLTY3MS00NjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzEiIHRvPSI2NzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcxLTQ2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcxIiBoZWlnaHQ9IjQ2MCIgZmlsbD0idXJsKCNnLTY3MS00NjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzEiIHRvPSI2NzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-1507c70f-10a2-4ba9-b5c2-66be5dd591e2.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEKH-Sml07">
    <div
      parentTag="Col"
        class="gEKH-Sml07 "
        style="--ta:left;--mb:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEKH-Sml07_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEKH-Sml07">
        .gEKH-Sml07 {

}
.gEKH-Sml07 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-style: italic;
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
text-align: center;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gyVRmUXpxG" data-id="gyVRmUXpxG"
        style="--mt:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyVRmUXpxG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_8bI4nZuW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKH_H8Xs3i">
    <div
      parentTag="Col"
        class="gKH_H8Xs3i "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKH_H8Xs3i_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gKH_H8Xs3i">
        .gKH_H8Xs3i {

}
.gKH_H8Xs3i p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 120%;
text-align: center;
letter-spacing: 0%;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gEJ5ssIHYM" data-id="gEJ5ssIHYM"
        style="--mt:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:80%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEJ5ssIHYM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gWOBM5GhcM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPEgrW8pN1">
    <div
      parentTag="Col"
        class="gPEgrW8pN1 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPEgrW8pN1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gPEgrW8pN1">
        .gPEgrW8pN1 {

}
.gPEgrW8pN1 p {
font-family:'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gVpY8cbfAM" data-id="gVpY8cbfAM"
        style="--mt:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVpY8cbfAM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-hMLq_aBI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOiAxyXs1G">
    <div
      parentTag="Col"
        class="gOiAxyXs1G "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOiAxyXs1G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gOiAxyXs1G">
        .gOiAxyXs1G {

}
.gOiAxyXs1G p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
text-align: center;

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-568289520517121105 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568289520517121105)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggpnO72GVx-_text","label":"ggpnO72GVx-_text","default":"<p>2025 Research Confirms: </p><p><strong>Low GLP-1 Production Is The #1 Cause Of Uncontrollable Hunger &amp; Weight Gain</strong></p>"},{"type":"html","id":"gg6xxpzV4x0_text","label":"gg6xxpzV4x0_text","default":"<p>GLP-1 Hormone production</p>"},{"type":"html","id":"ggEKH-Sml07_text","label":"ggEKH-Sml07_text","default":"<p>As we age, the body produces less of the “anti-hunger hormone”&nbsp;</p><p>(GLP-1) causing uncontrollable snacking, irregular blood sugar…and&nbsp;</p><p><strong>rapid weight gain</strong></p>"},{"type":"html","id":"ggKH_H8Xs3i_text","label":"ggKH_H8Xs3i_text","default":"<p>Scientists now call GLP-1 the \"anti-hunger hormone”...<br><br>Why?&nbsp;<br><br>Because the gut releases this tiny hormone after every meal…</p><p><br>To tell the brain “<i>hey, the gut is full now! It’s time to <strong>stop eating!</strong></i>” </p><p><br>It’s kind of like the <strong>automatic off switch</strong> for your appetite.<br><br>However, there’s one BIG problem… </p><p><br><span style=\"font-size:24px;\"><strong>As we age, the gut produces less GLP-1 every day…</strong> </span> </p><p>&nbsp;</p><p>Even worse…<br><br>Processed foods destroy GLP-1 even in younger people.   </p><p>&nbsp;</p><p>The result?<br><br>When the gut stops producing this “anti-hunger hormone”...  </p><p>&nbsp;</p><p><strong>We’ll still feel hungry no matter how much we eat – and we can never turn it off.</strong><br><br>In other words…<br><br><span style=\"font-size:24px;\"><strong>When GLP-1 levels drop…it’s almost impossible for </strong></span></p><p><span style=\"font-size:24px;\"><strong>the body to lose weight…</strong></span> </p><p><br>No matter how much willpower or discipline we have.<br><br>That’s why millions of women struggling to lose weight have turned to lab-made chemicals that mimic this GLP-1 hormone…<br><br>Even though those popular treatments (including the ones celebrities get weekly) RUIN their bodies…</p>"},{"type":"html","id":"ggPEgrW8pN1_text","label":"ggPEgrW8pN1_text","default":"<p>❌ Spread nasty side effects that can be downright dangerous…<br>❌ Stop working the moment we miss a dose and… </p><p>❌ Cost an arm and a leg</p>"},{"type":"html","id":"ggOiAxyXs1G_text","label":"ggOiAxyXs1G_text","default":"<p>Luckily <i><strong>brand new research</strong></i> has uncovered 100% plant-based extracts…</p><p>&nbsp;</p><p>That are proven to <i><strong>boost natural GLP-1 levels by 22%…</strong></i></p><p>&nbsp;</p><p>And transform <i><strong>any gut</strong></i> into a fat-burning machine… &nbsp;</p><p>&nbsp;</p><p>In as little as 14 days.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
