

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568310918111298641.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-568310918111298641.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568310918111298641.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568310918111298641.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568310918111298641.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568310918111298641.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568310918111298641.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568310918111298641.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568310918111298641.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568310918111298641.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-568310918111298641.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568310918111298641.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-568310918111298641.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-568310918111298641.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568310918111298641.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568310918111298641.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568310918111298641.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-568310918111298641.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-568310918111298641.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-568310918111298641.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568310918111298641.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568310918111298641.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568310918111298641.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568310918111298641.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568310918111298641.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568310918111298641.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568310918111298641.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568310918111298641.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568310918111298641.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-568310918111298641.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-568310918111298641.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568310918111298641.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568310918111298641.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568310918111298641.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568310918111298641.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568310918111298641.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568310918111298641.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568310918111298641.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568310918111298641.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-568310918111298641.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568310918111298641.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-568310918111298641.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568310918111298641.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568310918111298641.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568310918111298641.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-568310918111298641.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568310918111298641.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568310918111298641.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568310918111298641.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568310918111298641.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568310918111298641.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-568310918111298641.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568310918111298641.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568310918111298641.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568310918111298641.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568310918111298641.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568310918111298641.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568310918111298641 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568310918111298641 .gp-relative{position:relative}.gps-568310918111298641 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568310918111298641 .gp-mb-0{margin-bottom:0}.gps-568310918111298641 .gp-flex{display:flex}.gps-568310918111298641 .gp-grid{display:grid}.gps-568310918111298641 .gp-contents{display:contents}.gps-568310918111298641 .\!gp-hidden{display:none!important}.gps-568310918111298641 .gp-hidden{display:none}.gps-568310918111298641 .gp-h-auto{height:auto}.gps-568310918111298641 .gp-h-full{height:100%}.gps-568310918111298641 .gp-w-full{width:100%}.gps-568310918111298641 .gp-max-w-full{max-width:100%}.gps-568310918111298641 .gp-flex-none{flex:none}.gps-568310918111298641 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568310918111298641 .gp-flex-col{flex-direction:column}.gps-568310918111298641 .gp-gap-y-0{row-gap:0}.gps-568310918111298641 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568310918111298641 .gp-duration-200{transition-duration:.2s}.gps-568310918111298641 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-568310918111298641 .tablet\:\!gp-hidden{display:none!important}.gps-568310918111298641 .tablet\:gp-hidden{display:none}.gps-568310918111298641 .tablet\:gp-h-auto{height:auto}.gps-568310918111298641 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-568310918111298641 .mobile\:\!gp-hidden{display:none!important}.gps-568310918111298641 .mobile\:gp-hidden{display:none}.gps-568310918111298641 .mobile\:gp-h-auto{height:auto}.gps-568310918111298641 .mobile\:gp-flex-none{flex:none}}.gps-568310918111298641 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568310918111298641 .\[\&_p\]\:gp-inline p{display:inline}.gps-568310918111298641 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568310918111298641 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g48t0Zie7o" data-id="g48t0Zie7o"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF5F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g48t0Zie7o gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gFP63D8CjV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="giJHqntMhd" data-id="giJHqntMhd"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giJHqntMhd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geAwbQJkKK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYums0VTs8">
    <div
      parentTag="Col"
        class="gYums0VTs8 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYums0VTs8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYums0VTs8">
        .gYums0VTs8 {

}
.gYums0VTs8 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 32px;
line-height: 140%;
letter-spacing: 0;
text-align: center;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g8GGL388aB" data-id="g8GGL388aB"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8GGL388aB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTAW-4QLb9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gD7oXuYP0h" data-id="gD7oXuYP0h"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD7oXuYP0h gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="guDwzHdigA gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gL6IYrgivb" data-id="gL6IYrgivb"
        style="--mt:0px;--mb:32px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gL6IYrgivb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpWrhi_v2Q gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gdHAOv9FaO "
    ><div><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4783)">
<path d="M12 24.373C18.6274 24.373 24 19.0005 24 12.373C24 5.74563 18.6274 0.373047 12 0.373047C5.37258 0.373047 0 5.74563 0 12.373C0 19.0005 5.37258 24.373 12 24.373Z" fill="#2ECC71"/>
<path d="M3.86719 12.6416L10.2302 19.0046L20.1282 9.1066L18.0072 6.9856L10.2302 14.7626L5.98819 10.5206L3.86719 12.6416Z" fill="#ECF0F1"/>
</g>
<defs>
<clipPath id="clip0_16_4783">
<rect width="24" height="24" fill="white" transform="translate(0 0.373047)"/>
</clipPath>
</defs>
</svg>
<input hidden /></div></div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQdL7awjUa gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdpjXF0uKN">
    <div
      parentTag="Col"
        class="gdpjXF0uKN "
        style="--ta:left;--mt:0px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdpjXF0uKN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdpjXF0uKN">
        .gdpjXF0uKN {

}
.gdpjXF0uKN p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 0;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g5LCEei-I0" data-id="g5LCEei-I0"
        style="--mt:0px;--mb:32px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5LCEei-I0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gHV28pLuZW gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gloC6PzlxB "
    ><div><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4783)">
<path d="M12 24.373C18.6274 24.373 24 19.0005 24 12.373C24 5.74563 18.6274 0.373047 12 0.373047C5.37258 0.373047 0 5.74563 0 12.373C0 19.0005 5.37258 24.373 12 24.373Z" fill="#2ECC71"/>
<path d="M3.86719 12.6416L10.2302 19.0046L20.1282 9.1066L18.0072 6.9856L10.2302 14.7626L5.98819 10.5206L3.86719 12.6416Z" fill="#ECF0F1"/>
</g>
<defs>
<clipPath id="clip0_16_4783">
<rect width="24" height="24" fill="white" transform="translate(0 0.373047)"/>
</clipPath>
</defs>
</svg>
<input hidden /></div></div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gDCppNjnQv gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZibJTtvAM">
    <div
      parentTag="Col"
        class="gZibJTtvAM "
        style="--ta:left;--mt:0px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--top:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZibJTtvAM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZibJTtvAM">
        .gZibJTtvAM {

}
.gZibJTtvAM p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 0;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g8v52-DjUs" data-id="g8v52-DjUs"
        style="--mt:0px;--mb:32px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8v52-DjUs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g9SVgfeb1i gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gJmusRoQKg "
    ><div><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4783)">
<path d="M12 24.373C18.6274 24.373 24 19.0005 24 12.373C24 5.74563 18.6274 0.373047 12 0.373047C5.37258 0.373047 0 5.74563 0 12.373C0 19.0005 5.37258 24.373 12 24.373Z" fill="#2ECC71"/>
<path d="M3.86719 12.6416L10.2302 19.0046L20.1282 9.1066L18.0072 6.9856L10.2302 14.7626L5.98819 10.5206L3.86719 12.6416Z" fill="#ECF0F1"/>
</g>
<defs>
<clipPath id="clip0_16_4783">
<rect width="24" height="24" fill="white" transform="translate(0 0.373047)"/>
</clipPath>
</defs>
</svg>
<input hidden /></div></div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZVY5pm4pF gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gB7XLvZ3gO">
    <div
      parentTag="Col"
        class="gB7XLvZ3gO "
        style="--ta:left;--mt:0px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggB7XLvZ3gO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gB7XLvZ3gO">
        .gB7XLvZ3gO {

}
.gB7XLvZ3gO p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 0;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gE3ACN0veq" data-id="gE3ACN0veq"
        style="--mt:0px;--mb:32px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE3ACN0veq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gCpeno8bmT gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gyU6NTvTiB "
    ><div><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4783)">
<path d="M12 24.373C18.6274 24.373 24 19.0005 24 12.373C24 5.74563 18.6274 0.373047 12 0.373047C5.37258 0.373047 0 5.74563 0 12.373C0 19.0005 5.37258 24.373 12 24.373Z" fill="#2ECC71"/>
<path d="M3.86719 12.6416L10.2302 19.0046L20.1282 9.1066L18.0072 6.9856L10.2302 14.7626L5.98819 10.5206L3.86719 12.6416Z" fill="#ECF0F1"/>
</g>
<defs>
<clipPath id="clip0_16_4783">
<rect width="24" height="24" fill="white" transform="translate(0 0.373047)"/>
</clipPath>
</defs>
</svg>
<input hidden /></div></div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gIR4WBNDpx gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmFg1SmesU">
    <div
      parentTag="Col"
        class="gmFg1SmesU "
        style="--ta:left;--mt:0px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmFg1SmesU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gmFg1SmesU">
        .gmFg1SmesU {

}
.gmFg1SmesU p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 0;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g9w7ev6IvV" data-id="g9w7ev6IvV"
        style="--mt:0px;--mb:32px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9w7ev6IvV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gsCiUZAUWC gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="grztw5r_BD "
    ><div><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4783)">
<path d="M12 24.373C18.6274 24.373 24 19.0005 24 12.373C24 5.74563 18.6274 0.373047 12 0.373047C5.37258 0.373047 0 5.74563 0 12.373C0 19.0005 5.37258 24.373 12 24.373Z" fill="#2ECC71"/>
<path d="M3.86719 12.6416L10.2302 19.0046L20.1282 9.1066L18.0072 6.9856L10.2302 14.7626L5.98819 10.5206L3.86719 12.6416Z" fill="#ECF0F1"/>
</g>
<defs>
<clipPath id="clip0_16_4783">
<rect width="24" height="24" fill="white" transform="translate(0 0.373047)"/>
</clipPath>
</defs>
</svg>
<input hidden /></div></div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gk8jUFEK5w gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEv0vaIVzN">
    <div
      parentTag="Col"
        class="gEv0vaIVzN "
        style="--ta:left;--mt:0px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEv0vaIVzN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEv0vaIVzN">
        .gEv0vaIVzN {

}
.gEv0vaIVzN p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 0;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gDo7puUGwA" data-id="gDo7puUGwA"
        style="--mt:0px;--mb:32px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDo7puUGwA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gksJlerPoz gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gZft41r03v "
    ><div><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4783)">
<path d="M12 24.373C18.6274 24.373 24 19.0005 24 12.373C24 5.74563 18.6274 0.373047 12 0.373047C5.37258 0.373047 0 5.74563 0 12.373C0 19.0005 5.37258 24.373 12 24.373Z" fill="#2ECC71"/>
<path d="M3.86719 12.6416L10.2302 19.0046L20.1282 9.1066L18.0072 6.9856L10.2302 14.7626L5.98819 10.5206L3.86719 12.6416Z" fill="#ECF0F1"/>
</g>
<defs>
<clipPath id="clip0_16_4783">
<rect width="24" height="24" fill="white" transform="translate(0 0.373047)"/>
</clipPath>
</defs>
</svg>
<input hidden /></div></div>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gI7IzgCZi5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gGV-TvKska">
    <div
      parentTag="Col"
        class="gGV-TvKska "
        style="--ta:left;--mt:0px;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGV-TvKska_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gGV-TvKska">
        .gGV-TvKska {

}
.gGV-TvKska p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 0;

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gKa8ISDkln gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gzXYh7aFni" data-id="gzXYh7aFni"
        style="--pt:50px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzXYh7aFni gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gT5GGNS3MW gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gONLeWbL6V"
    role="presentation"
    class="gp-group/image gONLeWbL6V img-from-top gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--mt:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pos:absolute;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-fcf5b495-e857-4c8b-a01e-a0aef0431a10.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIyOCIgaGVpZ2h0PSIyMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjI4LTIyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMjgiIGhlaWdodD0iMjIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIyOCIgaGVpZ2h0PSIyMjAwIiBmaWxsPSJ1cmwoI2ctMTIyOC0yMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIyOCIgdG89IjEyMjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-fcf5b495-e857-4c8b-a01e-a0aef0431a10.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIyOCIgaGVpZ2h0PSIyMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjI4LTIyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMjgiIGhlaWdodD0iMjIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIyOCIgaGVpZ2h0PSIyMjAwIiBmaWxsPSJ1cmwoI2ctMTIyOC0yMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIyOCIgdG89IjEyMjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIyOCIgaGVpZ2h0PSIyMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjI4LTIyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMjgiIGhlaWdodD0iMjIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIyOCIgaGVpZ2h0PSIyMjAwIiBmaWxsPSJ1cmwoI2ctMTIyOC0yMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIyOCIgdG89IjEyMjgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-fcf5b495-e857-4c8b-a01e-a0aef0431a10.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:585/820;--aspect-tablet:585/820;--aspect-mobile:585/820;--objf:cover;--w:585px;--w-tablet:585px;--w-mobile:585px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:36px;--bblr:36px;--bbrr:36px;--btlr:36px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gONLeWbL6V">
        .gONLeWbL6V {

}
.gONLeWbL6V > figure > img {

}

.img-from-top {
 object-fit: cover;
  object-position: top;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-568310918111298641 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568310918111298641)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYums0VTs8_text","label":"ggYums0VTs8_text","default":"<p>Works For Women &amp; Men Of All Ages &amp; Body Types: No Matter How Many “Weight Loss Fads” Failed Them In The Past</p>"},{"type":"html","id":"ggdpjXF0uKN_text","label":"ggdpjXF0uKN_text","default":"<p><strong>Finally – start losing weight without even trying</strong><br>No more strict diets, back-breaking workouts or dangerous weight loss fads – the body will simply be in fat-burning mode morning to night.</p>"},{"type":"html","id":"ggZibJTtvAM_text","label":"ggZibJTtvAM_text","default":"<p><strong>Feel naturally satisfied – without snacking</strong><br>No more “resisting” cupcakes with coffee.. afternoon snacks... or midnight fridge raids. From here on out, the body will feel naturally satisfied between meals.</p>"},{"type":"html","id":"ggB7XLvZ3gO_text","label":"ggB7XLvZ3gO_text","default":"<p><strong>Wear skinny jeans, tank tops and shorts with confidence</strong><br>Look noticeably leaner as fat naturally melts from the belly, hips, thighs, arms, back and even the face.</p>"},{"type":"html","id":"ggmFg1SmesU_text","label":"ggmFg1SmesU_text","default":"<p><strong>Watch jaws drop to the floor – as years of weight simply melt away </strong></p><p>Don’t be surprised when loved ones – or complete strangers – go on &amp; on with compliments as the whole body becomes fit, healthy and toned even “at this age”.</p>"},{"type":"html","id":"ggEv0vaIVzN_text","label":"ggEv0vaIVzN_text","default":"<p><strong>Feel light as feather throughout the day </strong></p><p>Finally, eat freely, without feeling bogged down, bloated or like there’s a 10 lb bowling ball stuck in the gut.</p>"},{"type":"html","id":"ggGV-TvKska_text","label":"ggGV-TvKska_text","default":"<p><strong>Feel completely revitalized and more like YOU</strong><br>Breathe a sigh of relief as blood sugar levels stabilize, sending a wave of calm, natural energy through the entire body – no more sluggishness, fatigue or bad moods.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
