

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568435699980698665.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568435699980698665.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-568435699980698665.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568435699980698665.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568435699980698665.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568435699980698665.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568435699980698665.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568435699980698665.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568435699980698665.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568435699980698665.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-568435699980698665.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568435699980698665.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568435699980698665.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568435699980698665.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568435699980698665.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568435699980698665.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568435699980698665.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568435699980698665.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568435699980698665.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568435699980698665.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568435699980698665.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568435699980698665.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568435699980698665.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568435699980698665.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-568435699980698665.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-568435699980698665.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568435699980698665.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568435699980698665.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568435699980698665.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568435699980698665.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568435699980698665.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568435699980698665.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568435699980698665.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568435699980698665.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-568435699980698665.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-568435699980698665.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568435699980698665.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568435699980698665.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568435699980698665.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568435699980698665.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568435699980698665.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568435699980698665.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568435699980698665.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568435699980698665.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568435699980698665.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568435699980698665.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568435699980698665.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568435699980698665.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568435699980698665.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568435699980698665.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568435699980698665 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568435699980698665 .gp-relative{position:relative}.gps-568435699980698665 .gp-z-1{z-index:1}.gps-568435699980698665 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568435699980698665 .gp-mb-0{margin-bottom:0}.gps-568435699980698665 .gp-flex{display:flex}.gps-568435699980698665 .gp-inline-flex{display:inline-flex}.gps-568435699980698665 .gp-grid{display:grid}.gps-568435699980698665 .\!gp-hidden{display:none!important}.gps-568435699980698665 .gp-hidden{display:none}.gps-568435699980698665 .gp-h-full{height:100%}.gps-568435699980698665 .gp-max-w-full{max-width:100%}.gps-568435699980698665 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568435699980698665 .gp-flex-col{flex-direction:column}.gps-568435699980698665 .gp-items-center{align-items:center}.gps-568435699980698665 .gp-justify-center{justify-content:center}.gps-568435699980698665 .gp-gap-y-0{row-gap:0}.gps-568435699980698665 .gp-overflow-hidden{overflow:hidden}.gps-568435699980698665 .gp-break-words{overflow-wrap:break-word}.gps-568435699980698665 .gp-rounded-none{border-radius:0}.gps-568435699980698665 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-568435699980698665 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-568435699980698665 .gp-no-underline{text-decoration-line:none}.gps-568435699980698665 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568435699980698665 .gp-duration-200{transition-duration:.2s}.gps-568435699980698665 .gp-duration-300{transition-duration:.3s}.gps-568435699980698665 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568435699980698665 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-568435699980698665 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-568435699980698665 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-568435699980698665 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-568435699980698665 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-568435699980698665 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-568435699980698665 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-568435699980698665 .tablet\:\!gp-hidden{display:none!important}.gps-568435699980698665 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-568435699980698665 .mobile\:\!gp-hidden{display:none!important}.gps-568435699980698665 .mobile\:gp-hidden{display:none}}.gps-568435699980698665 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568435699980698665 .\[\&_p\]\:gp-inline p{display:inline}.gps-568435699980698665 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-568435699980698665 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568435699980698665 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gi0JAupy2O" data-id="gi0JAupy2O"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi0JAupy2O gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTRaXZMrxX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLvdrQtzr8" data-id="gLvdrQtzr8"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:60%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLvdrQtzr8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggAraXsjaa gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7kA46h5cr">
    <div
      parentTag="Col"
        class="g7kA46h5cr "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7kA46h5cr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g7kA46h5cr">
        .g7kA46h5cr {

}
.g7kA46h5cr p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 32px;
line-height: 140%;
letter-spacing: 0;
text-align: center;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g8gVNAaStN" data-id="g8gVNAaStN"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8gVNAaStN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="glpD-ODljK gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gfuzOK8LuK" data-id="gfuzOK8LuK"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfuzOK8LuK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRq4qXMOCj gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2M4qOhaPx">
    <div
      parentTag="Col"
        class="g2M4qOhaPx "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2M4qOhaPx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g2M4qOhaPx">
        .g2M4qOhaPx {

}
.g2M4qOhaPx p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJAXFJLU_D gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gytxkMMMZN" data-id="gytxkMMMZN"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gytxkMMMZN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQs6YXgssP gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gQj1W9a_YB "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gQj1W9a_YB">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gfuzOK8LuK">
        .gfuzOK8LuK {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-g8gVNAaStN">
        .g8gVNAaStN {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="guVuM9n9j6" data-id="guVuM9n9j6"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guVuM9n9j6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gyCrO2Jsqu gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gTZet5J7oi" data-id="gTZet5J7oi"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTZet5J7oi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="goTPVOw9TX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4qReqaWo6">
    <div
      parentTag="Col"
        class="g4qReqaWo6 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4qReqaWo6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g4qReqaWo6">
        .g4qReqaWo6 {

}
.g4qReqaWo6 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfjkwyMKWB gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g8lNvgMFz8" data-id="g8lNvgMFz8"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8lNvgMFz8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8j_81rR52 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gp5E2WH-FC "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gp5E2WH-FC">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gTZet5J7oi">
        .gTZet5J7oi {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-guVuM9n9j6">
        .guVuM9n9j6 {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="ggskUnP8mr" data-id="ggskUnP8mr"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggskUnP8mr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gbx-h_4G_I gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gehXbdUNMl" data-id="gehXbdUNMl"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gehXbdUNMl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gmaNAHhasN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1S9YGfKFF">
    <div
      parentTag="Col"
        class="g1S9YGfKFF "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1S9YGfKFF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g1S9YGfKFF">
        .g1S9YGfKFF {

}
.g1S9YGfKFF p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g1R8-in5vl gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gcBpQFSVYm" data-id="gcBpQFSVYm"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcBpQFSVYm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gKjlDRchB9 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gOfpizLr8r "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gOfpizLr8r">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gehXbdUNMl">
        .gehXbdUNMl {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-ggskUnP8mr">
        .ggskUnP8mr {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gkS6R5FAc9" data-id="gkS6R5FAc9"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkS6R5FAc9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gn7bD99Z9I gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4reN4I8aP" data-id="g4reN4I8aP"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4reN4I8aP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gaAoSr-liZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gy3lDkAVGH">
    <div
      parentTag="Col"
        class="gy3lDkAVGH "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggy3lDkAVGH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gy3lDkAVGH">
        .gy3lDkAVGH {

}
.gy3lDkAVGH p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gMPucKfBea gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gnXhrQAlcs" data-id="gnXhrQAlcs"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnXhrQAlcs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geK7vXD6lY gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gFkjr7ewjD "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gFkjr7ewjD">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-g4reN4I8aP">
        .g4reN4I8aP {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gkS6R5FAc9">
        .gkS6R5FAc9 {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="ge2DZmu61A" data-id="ge2DZmu61A"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge2DZmu61A gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLKFgz6ASr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4gqa7qj4O" data-id="g4gqa7qj4O"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4gqa7qj4O gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gn6HE68KnA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRYz3vvR-z">
    <div
      parentTag="Col"
        class="gRYz3vvR-z "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRYz3vvR-z_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRYz3vvR-z">
        .gRYz3vvR-z {

}
.gRYz3vvR-z p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gO3pS3TkTv gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g7EHRyemxf" data-id="g7EHRyemxf"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7EHRyemxf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giopf8wvT_ gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gotC0BRuWs "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gotC0BRuWs">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-g4gqa7qj4O">
        .g4gqa7qj4O {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-ge2DZmu61A">
        .ge2DZmu61A {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gE_MAFgR3D" data-id="gE_MAFgR3D"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE_MAFgR3D gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gMwSZj-bLT gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g1uGc9ykOy" data-id="g1uGc9ykOy"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1uGc9ykOy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTpyH6-Oxm gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gO9G3Jh1Mt">
    <div
      parentTag="Col"
        class="gO9G3Jh1Mt "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggO9G3Jh1Mt_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gO9G3Jh1Mt">
        .gO9G3Jh1Mt {

}
.gO9G3Jh1Mt p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0CljB82fb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="giMrRRSUvX" data-id="giMrRRSUvX"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giMrRRSUvX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g39wtgQrGP gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g3kU7F6auh "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-g3kU7F6auh">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-g1uGc9ykOy">
        .g1uGc9ykOy {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gE_MAFgR3D">
        .gE_MAFgR3D {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gdbvevfDq5" data-id="gdbvevfDq5"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdbvevfDq5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gi_qmpdKrN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gA4-kT5KyO" data-id="gA4-kT5KyO"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gA4-kT5KyO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gko95cEbUG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9aQiaBNpP">
    <div
      parentTag="Col"
        class="g9aQiaBNpP "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9aQiaBNpP_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g9aQiaBNpP">
        .g9aQiaBNpP {

}
.g9aQiaBNpP p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3obGBN-IY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsIavIOl66" data-id="gsIavIOl66"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsIavIOl66 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gB2UT1AYsQ gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gXeYVZ1iVh "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gXeYVZ1iVh">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gA4-kT5KyO">
        .gA4-kT5KyO {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gdbvevfDq5">
        .gdbvevfDq5 {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gR0XRwkA31" data-id="gR0XRwkA31"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gR0XRwkA31 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gT4BD1wCrp gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gDvCb7UFon" data-id="gDvCb7UFon"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDvCb7UFon gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gIZy9pSiEz gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gsI-dcyhNH">
    <div
      parentTag="Col"
        class="gsI-dcyhNH "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggsI-dcyhNH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gsI-dcyhNH">
        .gsI-dcyhNH {

}
.gsI-dcyhNH p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gXlzI4EZwh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gzRw53E3k8" data-id="gzRw53E3k8"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzRw53E3k8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzohnwfj0w gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gfGpG0RsXs "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gfGpG0RsXs">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gDvCb7UFon">
        .gDvCb7UFon {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gR0XRwkA31">
        .gR0XRwkA31 {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gfZSou7C2i" data-id="gfZSou7C2i"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfZSou7C2i gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJMJAXgvT- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gHnLli8Iv0" data-id="gHnLli8Iv0"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHnLli8Iv0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_kOzjxBch gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfnLHwbKAu">
    <div
      parentTag="Col"
        class="gfnLHwbKAu "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfnLHwbKAu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gfnLHwbKAu">
        .gfnLHwbKAu {

}
.gfnLHwbKAu p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gM5XqTzgzs gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gJyrZd9aH6" data-id="gJyrZd9aH6"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJyrZd9aH6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gSQQ-Ifys2 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gd9XjYdLZ_ "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gd9XjYdLZ_">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gHnLli8Iv0">
        .gHnLli8Iv0 {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gfZSou7C2i">
        .gfZSou7C2i {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gtbbNN3rze" data-id="gtbbNN3rze"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtbbNN3rze gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8p4i14bHJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4o7b9JYsX" data-id="g4o7b9JYsX"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4o7b9JYsX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gNYo25M2Aj gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gw1zPUI_Pc">
    <div
      parentTag="Col"
        class="gw1zPUI_Pc "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggw1zPUI_Pc_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gw1zPUI_Pc">
        .gw1zPUI_Pc {

}
.gw1zPUI_Pc p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gNRi-leBUe gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g-AsX4NU3-" data-id="g-AsX4NU3-"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-AsX4NU3- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gbkCbcih0f gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gm3oCxtHKq "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gm3oCxtHKq">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-g4o7b9JYsX">
        .g4o7b9JYsX {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gtbbNN3rze">
        .gtbbNN3rze {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gI72hGhxxU" data-id="gI72hGhxxU"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI72hGhxxU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g1qGnaI8W- gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gr71T8bEaN" data-id="gr71T8bEaN"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gr71T8bEaN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3QddXCdyE gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRmN4UKgA-">
    <div
      parentTag="Col"
        class="gRmN4UKgA- "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRmN4UKgA-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRmN4UKgA-">
        .gRmN4UKgA- {

}
.gRmN4UKgA- p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggXbo5YeHb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gf2MSFp6ys" data-id="gf2MSFp6ys"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gf2MSFp6ys gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gOrafFOA_W gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gkVznsUqsc "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gkVznsUqsc">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gr71T8bEaN">
        .gr71T8bEaN {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gI72hGhxxU">
        .gI72hGhxxU {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="ghzges7YRQ" data-id="ghzges7YRQ"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghzges7YRQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gr2DcsWbtb gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gzJt_bjQda" data-id="gzJt_bjQda"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzJt_bjQda gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gK9gBWV7K1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAAmFGqBd0">
    <div
      parentTag="Col"
        class="gAAmFGqBd0 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAAmFGqBd0_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAAmFGqBd0">
        .gAAmFGqBd0 {

}
.gAAmFGqBd0 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gVO_-YI20n gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLmLj1c8F0" data-id="gLmLj1c8F0"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLmLj1c8F0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtyG0eo8qB gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gtQJVlYkUI "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gtQJVlYkUI">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gzJt_bjQda">
        .gzJt_bjQda {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-ghzges7YRQ">
        .ghzges7YRQ {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gM_OrCX9uE" data-id="gM_OrCX9uE"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM_OrCX9uE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvi1ctDoYo gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g62hAOveIF" data-id="g62hAOveIF"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g62hAOveIF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7JFS-9AVC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaFQJp1A-G">
    <div
      parentTag="Col"
        class="gaFQJp1A-G "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggaFQJp1A-G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gaFQJp1A-G">
        .gaFQJp1A-G {

}
.gaFQJp1A-G p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gUGrT33vwd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gm0bB_qmB0" data-id="gm0bB_qmB0"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gm0bB_qmB0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gD-uXwhmI_ gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gwta-X0rou "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gwta-X0rou">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-g62hAOveIF">
        .g62hAOveIF {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gM_OrCX9uE">
        .gM_OrCX9uE {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gceiT3fPPK" data-id="gceiT3fPPK"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gceiT3fPPK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g89-4CYA3n gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g_7Nl4wP7t" data-id="g_7Nl4wP7t"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_7Nl4wP7t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gS1LszDANN gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2-H1IDjh0">
    <div
      parentTag="Col"
        class="g2-H1IDjh0 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2-H1IDjh0_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g2-H1IDjh0">
        .g2-H1IDjh0 {

}
.g2-H1IDjh0 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="grg5r3HDfE gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gxI5XzKh41" data-id="gxI5XzKh41"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxI5XzKh41 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7uHro7N-W gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gK0AU-ae8w "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gK0AU-ae8w">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-g_7Nl4wP7t">
        .g_7Nl4wP7t {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gceiT3fPPK">
        .gceiT3fPPK {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gZbuu1Uvyv" data-id="gZbuu1Uvyv"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZbuu1Uvyv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRl-1HBNNU gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gDRBcK216z" data-id="gDRBcK216z"
        style="--mr:auto;--pl:15px;--pr:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 11fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDRBcK216z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0rvRHWdFD gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZJbe7Vnh-">
    <div
      parentTag="Col"
        class="gZJbe7Vnh- "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZJbe7Vnh-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZJbe7Vnh-">
        .gZJbe7Vnh- {

}
.gZJbe7Vnh- p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 20px;
line-height: 60.5px;
letter-spacing: 0;
vertical-align: middle;

}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfPaTTn10R gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gn3NL1XIaF" data-id="gn3NL1XIaF"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gn3NL1XIaF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwqFiQDrSn gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pl:0px;--pos:relative;--right:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gphLs1e7-P "
    ><div><div class="plus-sign">
    <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.792 8.96362V5.53962H6.808V0.00362396H10.296V5.53962H16.28V8.96362H10.296V14.4996H6.808V8.96362H0.792Z" fill="#F55F86"/>
</svg>
</div>
<input hidden /></div></div>
  
      <style id="custom-css-gphLs1e7-P">
        .plus-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gDRBcK216z">
        .gDRBcK216z {
display: flex;
  align-items: center;
}
      </style>
    
    </div>
    </div>
   
    
      <style id="custom-css-gZbuu1Uvyv">
        .gZbuu1Uvyv {
  border-bottom: 3px solid #F55F86 !important;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="g95TUPSrJE" data-id="g95TUPSrJE"
        style="--mt:16px;--pt:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g95TUPSrJE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQWnYFAdu5 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gJJ5HLOOoX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gJJ5HLOOoX:hover::before {
      
      
    }

    .gJJ5HLOOoX:hover .gp-button-icon {
      color: undefined;
    }

     .gJJ5HLOOoX .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gJJ5HLOOoX:hover .gp-button-price {
      color: undefined;
    }

    .gJJ5HLOOoX .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gJJ5HLOOoX .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gJJ5HLOOoX:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gJJ5HLOOoX" aria-label="<p>TRY new ULTIMATE GLP-1 now</p>"
      
      data-state="idle"
      class="gJJ5HLOOoX gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggJJ5HLOOoX_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-gJJ5HLOOoX">
        button.gJJ5HLOOoX {
    background-color: #66CEAA;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 5%;
    padding: 20px 120px;
    width: 95%;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g66poMYhDI">
    <div
      parentTag="Col"
        class="g66poMYhDI "
        style="--ta:left;--mt:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg66poMYhDI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g66poMYhDI">
        .g66poMYhDI {

}
.g66poMYhDI p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 19",
    "tag": "section",
    "class": "gps-568435699980698665 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568435699980698665)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7kA46h5cr_text","label":"gg7kA46h5cr_text","default":"<p>Still Not Sure?<br>Here Are The Top 15 Questions We Get About&nbsp;</p><p>Ultimate GLP-1</p>"},{"type":"html","id":"gg2M4qOhaPx_text","label":"gg2M4qOhaPx_text","default":"<p>How do I use this product?</p>"},{"type":"html","id":"gg4qReqaWo6_text","label":"gg4qReqaWo6_text","default":"<p>&nbsp;What are the ingredients in this formula?</p>"},{"type":"html","id":"gg1S9YGfKFF_text","label":"gg1S9YGfKFF_text","default":"<p>Where is the formula produced?</p>"},{"type":"html","id":"ggy3lDkAVGH_text","label":"ggy3lDkAVGH_text","default":"<p>How does the formula taste?</p>"},{"type":"html","id":"ggRYz3vvR-z_text","label":"ggRYz3vvR-z_text","default":"<p>Can I use this with other products?</p>"},{"type":"html","id":"ggO9G3Jh1Mt_text","label":"ggO9G3Jh1Mt_text","default":"<p>Is this product vegan?</p>"},{"type":"html","id":"gg9aQiaBNpP_text","label":"gg9aQiaBNpP_text","default":"<p>What is the best time of day to take this product?</p>"},{"type":"html","id":"ggsI-dcyhNH_text","label":"ggsI-dcyhNH_text","default":"<p>Can I use this supplement if I am pregnant or breastfeeding?</p>"},{"type":"html","id":"ggfnLHwbKAu_text","label":"ggfnLHwbKAu_text","default":"<p>Can it be used by children?</p>"},{"type":"html","id":"ggw1zPUI_Pc_text","label":"ggw1zPUI_Pc_text","default":"<p>Where should I store this product?</p>"},{"type":"html","id":"ggRmN4UKgA-_text","label":"ggRmN4UKgA-_text","default":"<p>Are there any side effects?</p>"},{"type":"html","id":"ggAAmFGqBd0_text","label":"ggAAmFGqBd0_text","default":"<p>How long does the bottle last?</p>"},{"type":"html","id":"ggaFQJp1A-G_text","label":"ggaFQJp1A-G_text","default":"<p>Why choose this product over others?</p>"},{"type":"html","id":"gg2-H1IDjh0_text","label":"gg2-H1IDjh0_text","default":"<p>Medical information, product, reviews, warnings and legal disclaimer</p>"},{"type":"html","id":"ggZJbe7Vnh-_text","label":"ggZJbe7Vnh-_text","default":"<p>Is there a guarantee?</p>"},{"type":"html","id":"ggJJ5HLOOoX_label","label":"ggJJ5HLOOoX_label","default":"<p>TRY new ULTIMATE GLP-1 now</p>"},{"type":"html","id":"gg66poMYhDI_text","label":"gg66poMYhDI_text","default":"<p><span style=\"color:#000000;\"> 60 day money back guarantee</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
