

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568289520265462825.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-568289520265462825.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568289520265462825.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568289520265462825.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568289520265462825.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568289520265462825.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568289520265462825.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568289520265462825.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568289520265462825.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568289520265462825.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-568289520265462825.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568289520265462825.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-568289520265462825.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-568289520265462825.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568289520265462825.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568289520265462825.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568289520265462825.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-568289520265462825.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-568289520265462825.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-568289520265462825.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568289520265462825.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568289520265462825.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568289520265462825.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568289520265462825.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568289520265462825.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568289520265462825.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568289520265462825.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568289520265462825.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568289520265462825.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-568289520265462825.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568289520265462825.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568289520265462825.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568289520265462825.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568289520265462825.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568289520265462825.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568289520265462825.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568289520265462825.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568289520265462825.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568289520265462825.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568289520265462825.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568289520265462825.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568289520265462825.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-568289520265462825.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568289520265462825.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568289520265462825.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568289520265462825.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568289520265462825.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568289520265462825.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-568289520265462825.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568289520265462825.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568289520265462825.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568289520265462825.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568289520265462825.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568289520265462825.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568289520265462825 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568289520265462825 .gp-relative{position:relative}.gps-568289520265462825 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568289520265462825 .gp-mb-0{margin-bottom:0}.gps-568289520265462825 .gp-flex{display:flex}.gps-568289520265462825 .gp-grid{display:grid}.gps-568289520265462825 .gp-contents{display:contents}.gps-568289520265462825 .\!gp-hidden{display:none!important}.gps-568289520265462825 .gp-hidden{display:none}.gps-568289520265462825 .gp-h-auto{height:auto}.gps-568289520265462825 .gp-h-full{height:100%}.gps-568289520265462825 .gp-w-full{width:100%}.gps-568289520265462825 .gp-max-w-full{max-width:100%}.gps-568289520265462825 .gp-flex-none{flex:none}.gps-568289520265462825 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568289520265462825 .gp-flex-col{flex-direction:column}.gps-568289520265462825 .gp-gap-y-0{row-gap:0}.gps-568289520265462825 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568289520265462825 .gp-duration-200{transition-duration:.2s}.gps-568289520265462825 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-568289520265462825 .tablet\:\!gp-hidden{display:none!important}.gps-568289520265462825 .tablet\:gp-hidden{display:none}.gps-568289520265462825 .tablet\:gp-h-auto{height:auto}.gps-568289520265462825 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-568289520265462825 .mobile\:\!gp-hidden{display:none!important}.gps-568289520265462825 .mobile\:gp-hidden{display:none}.gps-568289520265462825 .mobile\:gp-h-auto{height:auto}.gps-568289520265462825 .mobile\:gp-flex-none{flex:none}}.gps-568289520265462825 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568289520265462825 .\[\&_p\]\:gp-inline p{display:inline}.gps-568289520265462825 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568289520265462825 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPMX6Eg641" data-id="gPMX6Eg641"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF5F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPMX6Eg641 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtRLqIthbJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gy_tJD1RVR" data-id="gy_tJD1RVR"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:60%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gy_tJD1RVR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfjjqc6bmn gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="ggYm40yB6o "
    ><div><div class="glp1-banner">
  <div class="arrow">
    <svg width="27" height="47" viewBox="0 0 27 47" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.1586 45.5315L25.3449 35.3452C25.9064 34.7838 26.187 34.0481 26.187 33.3122C26.187 32.5764 25.9064 31.8407 25.3449 31.2792C24.2222 30.1566 22.4018 30.1566 21.2791 31.2792L16.0007 36.5577L16.0007 3.24854C16.0007 1.66073 14.7135 0.373536 13.1257 0.373536C11.5379 0.373536 10.2507 1.66073 10.2507 3.24854L10.2507 36.5577L4.97241 31.2792C3.84964 30.1566 2.02931 30.1566 0.906535 31.2792C-0.216243 32.4021 -0.216243 34.2224 0.906534 35.3452L11.0928 45.5315C12.2155 46.6542 14.0359 46.6542 15.1586 45.5315Z" fill="#F55F86"/>
    </svg>
  </div>

  <div class="text">
    Finally — It’s Possible To Boost GLP-1 levels naturally and automatically burn 10, 20 or even 30 lbs of excess fat
  </div>

  <div class="arrow">
    <svg width="27" height="47" viewBox="0 0 27 47" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.1586 45.5315L25.3449 35.3452C25.9064 34.7838 26.187 34.0481 26.187 33.3122C26.187 32.5764 25.9064 31.8407 25.3449 31.2792C24.2222 30.1566 22.4018 30.1566 21.2791 31.2792L16.0007 36.5577L16.0007 3.24854C16.0007 1.66073 14.7135 0.373536 13.1257 0.373536C11.5379 0.373536 10.2507 1.66073 10.2507 3.24854L10.2507 36.5577L4.97241 31.2792C3.84964 30.1566 2.02931 30.1566 0.906535 31.2792C-0.216243 32.4021 -0.216243 34.2224 0.906534 35.3452L11.0928 45.5315C12.2155 46.6542 14.0359 46.6542 15.1586 45.5315Z" fill="#F55F86"/>
    </svg>
  </div>
</div></div></div>
  
      <style id="custom-css-ggYm40yB6o">
        .glp1-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
  flex-wrap: nowrap;
}

.glp1-banner .text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: #F55F86;
  max-width: 700px;
}

      </style>
    
       
      
    <div
      parentTag="Col" id="gjNPzf9WP9" data-id="gjNPzf9WP9"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjNPzf9WP9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLU9yxNCn3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKJqWMQY1l">
    <div
      parentTag="Col"
        class="gKJqWMQY1l "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKJqWMQY1l_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gKJqWMQY1l">
        .gKJqWMQY1l {

}
.gKJqWMQY1l p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 32px;
line-height: 140%;
letter-spacing: 0;
text-align: center;
color: #000;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="g6D_AjQMyO" data-id="g6D_AjQMyO"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6D_AjQMyO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfQB7gPN6b gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbhdSBaXLT" data-id="gbhdSBaXLT"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbhdSBaXLT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gd2zyVz9fk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g5EQRW7UDG" data-id="g5EQRW7UDG"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5EQRW7UDG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gdfI0SDkH4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gSD07vhvdx"
    role="presentation"
    class="gp-group/image gSD07vhvdx gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-eced9019-6866-4c69-83f9-1ccf6001416e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4NCIgaGVpZ2h0PSIxNTgyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDg0LTE1ODIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODQiIGhlaWdodD0iMTU4MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4NCIgaGVpZ2h0PSIxNTgyIiBmaWxsPSJ1cmwoI2ctMTA4NC0xNTgyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4NCIgdG89IjEwODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-eced9019-6866-4c69-83f9-1ccf6001416e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4NCIgaGVpZ2h0PSIxNTgyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDg0LTE1ODIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODQiIGhlaWdodD0iMTU4MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4NCIgaGVpZ2h0PSIxNTgyIiBmaWxsPSJ1cmwoI2ctMTA4NC0xNTgyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4NCIgdG89IjEwODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4NCIgaGVpZ2h0PSIxNTgyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDg0LTE1ODIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODQiIGhlaWdodD0iMTU4MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4NCIgaGVpZ2h0PSIxNTgyIiBmaWxsPSJ1cmwoI2ctMTA4NC0xNTgyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4NCIgdG89IjEwODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-eced9019-6866-4c69-83f9-1ccf6001416e.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:583/593;--aspect-tablet:583/593;--aspect-mobile:583/593;--objf:cover;--w:583px;--w-tablet:583px;--w-mobile:583px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:15px;--bblr:15px;--bbrr:15px;--btlr:15px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gi5JDE0ahm gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYQHXZdPd5">
    <div
      parentTag="Col"
        class="gYQHXZdPd5 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYQHXZdPd5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYQHXZdPd5">
        .gYQHXZdPd5 {

}
.gYQHXZdPd5 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0%;

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-568289520265462825 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568289520265462825)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKJqWMQY1l_text","label":"ggKJqWMQY1l_text","default":"<p>Introducing, The Safest &amp; Fastest Way To Activate The GLP-1 Production &amp; Drop 3 Pant Sizes Without Even Trying</p>"},{"type":"html","id":"ggYQHXZdPd5_text","label":"ggYQHXZdPd5_text","default":"<p><i><strong>Ultimate GLP-1</strong></i> is the world’s first and only 100% plant-based formula that boosts the gut’s GLP-1 production by 22%…</p><p>&nbsp;</p><p>Which automatically <strong>kicks metabolism into high gear…</strong></p><p>&nbsp;</p><p>Squashes cravings…</p><p>&nbsp;</p><p>Controls appetite… &nbsp;</p><p>&nbsp;</p><p>Regulates blood sugar and…</p><p><br>Melts inches of stubborn belly, hip and thigh fat…without strict diet or exercise.</p><p>&nbsp;</p><p><strong>Finally break FREE from the shackles of constant hunger, bloat, fatigue and weight gain…</strong></p><p>&nbsp;</p><p>Without drastic, dangerous treatments that drain bank accounts. </p><p><br>The best part?<br>&nbsp;<br>This 100% natural alternative only takes a few seconds each morning…</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
