

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568310918279070761.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-568310918279070761.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568310918279070761.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-568310918279070761.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568310918279070761.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568310918279070761.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568310918279070761.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568310918279070761.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568310918279070761.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568310918279070761.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568310918279070761.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-568310918279070761.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-568310918279070761.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568310918279070761.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-568310918279070761.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-568310918279070761.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568310918279070761.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568310918279070761.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568310918279070761.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-568310918279070761.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-568310918279070761.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-568310918279070761.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568310918279070761.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568310918279070761.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568310918279070761.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568310918279070761.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568310918279070761.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568310918279070761.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568310918279070761.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568310918279070761.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568310918279070761.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-568310918279070761.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-568310918279070761.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568310918279070761.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568310918279070761.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568310918279070761.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568310918279070761.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568310918279070761.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568310918279070761.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568310918279070761.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568310918279070761.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568310918279070761.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568310918279070761.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568310918279070761.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568310918279070761.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-568310918279070761.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568310918279070761.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568310918279070761.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568310918279070761.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568310918279070761.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568310918279070761.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-568310918279070761.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568310918279070761.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568310918279070761.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568310918279070761.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568310918279070761.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568310918279070761.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568310918279070761 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568310918279070761 .gp-relative{position:relative}.gps-568310918279070761 .gp-z-1{z-index:1}.gps-568310918279070761 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568310918279070761 .gp-mb-0{margin-bottom:0}.gps-568310918279070761 .gp-flex{display:flex}.gps-568310918279070761 .gp-inline-flex{display:inline-flex}.gps-568310918279070761 .gp-grid{display:grid}.gps-568310918279070761 .gp-contents{display:contents}.gps-568310918279070761 .\!gp-hidden{display:none!important}.gps-568310918279070761 .gp-hidden{display:none}.gps-568310918279070761 .gp-h-auto{height:auto}.gps-568310918279070761 .gp-h-full{height:100%}.gps-568310918279070761 .gp-w-full{width:100%}.gps-568310918279070761 .gp-max-w-full{max-width:100%}.gps-568310918279070761 .gp-flex-none{flex:none}.gps-568310918279070761 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568310918279070761 .gp-flex-col{flex-direction:column}.gps-568310918279070761 .gp-items-center{align-items:center}.gps-568310918279070761 .gp-justify-center{justify-content:center}.gps-568310918279070761 .gp-gap-y-0{row-gap:0}.gps-568310918279070761 .gp-overflow-hidden{overflow:hidden}.gps-568310918279070761 .gp-break-words{overflow-wrap:break-word}.gps-568310918279070761 .gp-rounded-none{border-radius:0}.gps-568310918279070761 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-568310918279070761 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-568310918279070761 .gp-no-underline{text-decoration-line:none}.gps-568310918279070761 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568310918279070761 .gp-duration-200{transition-duration:.2s}.gps-568310918279070761 .gp-duration-300{transition-duration:.3s}.gps-568310918279070761 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568310918279070761 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-568310918279070761 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-568310918279070761 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-568310918279070761 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-568310918279070761 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-568310918279070761 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-568310918279070761 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-568310918279070761 .tablet\:\!gp-hidden{display:none!important}.gps-568310918279070761 .tablet\:gp-hidden{display:none}.gps-568310918279070761 .tablet\:gp-h-auto{height:auto}.gps-568310918279070761 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-568310918279070761 .mobile\:\!gp-hidden{display:none!important}.gps-568310918279070761 .mobile\:gp-hidden{display:none}.gps-568310918279070761 .mobile\:gp-h-auto{height:auto}.gps-568310918279070761 .mobile\:gp-flex-none{flex:none}}.gps-568310918279070761 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568310918279070761 .\[\&_p\]\:gp-inline p{display:inline}.gps-568310918279070761 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-568310918279070761 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568310918279070761 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNR1uTE8De" data-id="gNR1uTE8De"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNR1uTE8De gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggus4BMSAo gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gQW5CJJlBm" data-id="gQW5CJJlBm"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQW5CJJlBm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3Yju6i635 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gE1-A9AHOo">
    <div
      parentTag="Col"
        class="gE1-A9AHOo "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggE1-A9AHOo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gE1-A9AHOo">
        .gE1-A9AHOo {

}
.gE1-A9AHOo p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 32px;
line-height: 140%;
letter-spacing: 0%;
text-align: center;

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gJKdVbzKJ-" data-id="gJKdVbzKJ-"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJKdVbzKJ- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g5sOB4C5XY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gltrJGziSp">
    <div
      parentTag="Col"
        class="gltrJGziSp "
        style="--ta:left;--mb:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggltrJGziSp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gltrJGziSp">
        .gltrJGziSp {

}
.gltrJGziSp p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0;
text-align: center;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gG0FdQzubB" data-id="gG0FdQzubB"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gG0FdQzubB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gc2fJSJSjP gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g8g_YsWGfn" data-id="g8g_YsWGfn"
        style="--mt:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8g_YsWGfn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpX-WuIKG8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjOC6u2oaa" data-id="gjOC6u2oaa"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:582px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjOC6u2oaa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gd9o3vsUgz gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gpZ-ecU40t"
    role="presentation"
    class="gp-group/image gpZ-ecU40t gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-cbce6627-d1fe-4842-8ee9-ec040be0b125.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MSIgaGVpZ2h0PSIzMzA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcxLTMzMDciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzEiIGhlaWdodD0iMzMwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MSIgaGVpZ2h0PSIzMzA3IiBmaWxsPSJ1cmwoI2ctMzA3MS0zMzA3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MSIgdG89IjMwNzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-cbce6627-d1fe-4842-8ee9-ec040be0b125.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MSIgaGVpZ2h0PSIzMzA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcxLTMzMDciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzEiIGhlaWdodD0iMzMwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MSIgaGVpZ2h0PSIzMzA3IiBmaWxsPSJ1cmwoI2ctMzA3MS0zMzA3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MSIgdG89IjMwNzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzA3MSIgaGVpZ2h0PSIzMzA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zMDcxLTMzMDciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjMwNzEiIGhlaWdodD0iMzMwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzA3MSIgaGVpZ2h0PSIzMzA3IiBmaWxsPSJ1cmwoI2ctMzA3MS0zMzA3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzA3MSIgdG89IjMwNzEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-cbce6627-d1fe-4842-8ee9-ec040be0b125.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:582/403;--aspect-tablet:582/403;--aspect-mobile:582/403;--objf:cover;--w:582px;--w-tablet:582px;--w-mobile:582px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:20px;--bblr:20px;--bbrr:20px;--btlr:20px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gY3t5qdovS gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gA78_QZ8np">
    <div
      parentTag="Col"
        class="gA78_QZ8np "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggA78_QZ8np_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gA78_QZ8np">
        .gA78_QZ8np {

}
.gA78_QZ8np p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0%;

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gYMyEIugFf" data-id="gYMyEIugFf"
        style="--mt:16px;--pt:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYMyEIugFf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gq7KzmaUuX gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gbjJzr1VPg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gbjJzr1VPg:hover::before {
      
      
    }

    .gbjJzr1VPg:hover .gp-button-icon {
      color: undefined;
    }

     .gbjJzr1VPg .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gbjJzr1VPg:hover .gp-button-price {
      color: undefined;
    }

    .gbjJzr1VPg .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gbjJzr1VPg .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gbjJzr1VPg:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gbjJzr1VPg" aria-label="<p>TRY new ULTIMATE GLP-1 now</p>"
      
      data-state="idle"
      class="gbjJzr1VPg gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggbjJzr1VPg_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-gbjJzr1VPg">
        button.gbjJzr1VPg {
    background-color: #66CEAA;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 5%;
    padding: 20px 120px;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grytbSCHGU">
    <div
      parentTag="Col"
        class="grytbSCHGU "
        style="--ta:left;--mt:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrytbSCHGU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-grytbSCHGU">
        .grytbSCHGU {

}
.grytbSCHGU p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-568310918279070761 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568310918279070761)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggE1-A9AHOo_text","label":"ggE1-A9AHOo_text","default":"<p><span style=\"color:#F55F86;font-size:32px;\">You Don’t Need Extreme Diets, Drugs Or Discipline</span><br>Take All-Natural Ultimate GLP-1 To Start Losing Weight Without Lifting A Finger</p>"},{"type":"html","id":"ggltrJGziSp_text","label":"ggltrJGziSp_text","default":"<p>Ultimate GLP-1 targets the #1 root cause of uncontrollable “food noise” and the constant struggle to lose weight.<br>&nbsp;<br>The moment you add these plant extracts to your morning routine…<br>&nbsp;<br>The gut will begin to naturally and safely release GLP-1.<br>&nbsp;<br>It’s like installing a 24/7 fat-burning engine in the body.<br>&nbsp;<br>Simply sit back, and breathe a deep sigh of relief…<br>&nbsp;<br>As years of stubborn, stuck-on fat dissolve away…<br>&nbsp;<br>Revealing a fit, healthy waistline…<br>&nbsp;<br>And the confident, vibrant person you’re meant to be.</p>"},{"type":"html","id":"ggA78_QZ8np_text","label":"ggA78_QZ8np_text","default":"<p>🔥 <strong>24 Hours…</strong> Blood sugar levels begin to settle into a healthy range, instantly revitalizing youthful energy levels, mood and confidence<br>&nbsp;<br>🔥 <strong>48 Hours…</strong> Stop reaching for the fridge handle every 30 mins, because for the first time in years you feel perfectly satisfied between meals.<br>&nbsp;<br>🔥 <strong>Day 7…</strong> The belly looks flatter, the waist is shirking, and don’t be shocked if the number on the scale is already lower. </p><p><br>🔥 <strong>Day 14…</strong> Suddenly jeans slip effortlessly over the hips, shirts look loose, and with every glance in the mirror the results are undeniable – the whole body is shrinking by itself<br>&nbsp;<br>🔥 <strong>A few short weeks from now…</strong> Friends, family and even strangers will start showering compliments…because this <strong>head-to-toe transformation will be impossible to ignore…</strong></p>"},{"type":"html","id":"ggbjJzr1VPg_label","label":"ggbjJzr1VPg_label","default":"<p>TRY new ULTIMATE GLP-1 now</p>"},{"type":"html","id":"ggrytbSCHGU_text","label":"ggrytbSCHGU_text","default":"<p><span style=\"color:#000000;\">✅ 60 day money back guarantee</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
