

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568602295135110124.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-568602295135110124.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568602295135110124.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568602295135110124.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568602295135110124.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568602295135110124.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568602295135110124.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568602295135110124.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568602295135110124.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568602295135110124.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-568602295135110124.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568602295135110124.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-568602295135110124.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-568602295135110124.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568602295135110124.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568602295135110124.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568602295135110124.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-568602295135110124.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-568602295135110124.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-568602295135110124.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568602295135110124.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568602295135110124.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568602295135110124.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568602295135110124.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568602295135110124.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568602295135110124.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568602295135110124.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568602295135110124.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568602295135110124.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-568602295135110124.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568602295135110124.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568602295135110124.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568602295135110124.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568602295135110124.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568602295135110124.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568602295135110124.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568602295135110124.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568602295135110124.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-568602295135110124.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568602295135110124.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568602295135110124.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568602295135110124.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568602295135110124.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-568602295135110124.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568602295135110124.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568602295135110124.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568602295135110124.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568602295135110124.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568602295135110124.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-568602295135110124.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568602295135110124.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568602295135110124.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568602295135110124.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568602295135110124.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568602295135110124.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568602295135110124 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568602295135110124 .gp-relative{position:relative}.gps-568602295135110124 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568602295135110124 .gp-mb-0{margin-bottom:0}.gps-568602295135110124 .gp-flex{display:flex}.gps-568602295135110124 .gp-grid{display:grid}.gps-568602295135110124 .gp-contents{display:contents}.gps-568602295135110124 .\!gp-hidden{display:none!important}.gps-568602295135110124 .gp-hidden{display:none}.gps-568602295135110124 .gp-h-auto{height:auto}.gps-568602295135110124 .gp-h-full{height:100%}.gps-568602295135110124 .gp-w-full{width:100%}.gps-568602295135110124 .gp-max-w-full{max-width:100%}.gps-568602295135110124 .gp-flex-none{flex:none}.gps-568602295135110124 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568602295135110124 .gp-flex-col{flex-direction:column}.gps-568602295135110124 .gp-gap-y-0{row-gap:0}.gps-568602295135110124 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568602295135110124 .gp-duration-200{transition-duration:.2s}.gps-568602295135110124 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-568602295135110124 .tablet\:\!gp-hidden{display:none!important}.gps-568602295135110124 .tablet\:gp-hidden{display:none}.gps-568602295135110124 .tablet\:gp-h-auto{height:auto}.gps-568602295135110124 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-568602295135110124 .mobile\:\!gp-hidden{display:none!important}.gps-568602295135110124 .mobile\:gp-hidden{display:none}.gps-568602295135110124 .mobile\:gp-h-auto{height:auto}.gps-568602295135110124 .mobile\:gp-flex-none{flex:none}}.gps-568602295135110124 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568602295135110124 .\[\&_p\]\:gp-inline p{display:inline}.gps-568602295135110124 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568602295135110124 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gujUo18aXV" data-id="gujUo18aXV"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gujUo18aXV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwFsAIPeuh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ggmtXJoEF1" data-id="ggmtXJoEF1"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggmtXJoEF1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gb5OUhiUBr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLtuC2JFL7" data-id="gLtuC2JFL7"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:16px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:80%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLtuC2JFL7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gC3fJN6KDM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gl5QFZwtm3" data-id="gl5QFZwtm3"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:5px 5px 5px 5px;--bc:#121212;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl5QFZwtm3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfUgP0o9xy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gkW4qyyrf9" data-id="gkW4qyyrf9"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkW4qyyrf9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g5TYiv_JaE gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0XjVrjf7S">
    <div
      parentTag="Col"
        class="g0XjVrjf7S "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:#DBDBDB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:8px;--btrr:8px;overflow:hidden"
        >{{ section.settings.gg0XjVrjf7S_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g0XjVrjf7S">
        .g0XjVrjf7S {

}
.g0XjVrjf7S p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 24px;
line-height: 42px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gcC0dZbJJn" data-id="gcC0dZbJJn"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcC0dZbJJn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gB0DGoDg2Y gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gCUHmtoo7V"
    role="presentation"
    class="gp-group/image gCUHmtoo7V gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="g87-FCq3Or" data-id="g87-FCq3Or"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g87-FCq3Or gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZJk5TKZ6i gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gn70D8-WqI "
    ><div><div class="product-price-info">
    <div class="price-value">
    $XX.XX
    <div class="qty-text">
    Per Bottle
</div>
</div>



<div class="total-text-amount">
    Total: $XX.XX
</div>

<div class="installments-text">
    or 4 installments of $XX.XX USD by 
    <div class="shop-pay-icon">
      <img src="https://cdn.shopify.com/s/files/1/0935/6676/3140/files/shop-pay-icon.png?v=1748442545" alt="shop-pay-icon" style="width: 100px;" />
    </div>
</div>

</div></div></div>
  
      <style id="custom-css-gn70D8-WqI">
        .product-price-info {
    font-family: 'DM Sans', Sans-Serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gn70D8-WqI .price-value {
font-weight: 700;
font-size: 36px;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
color: #F55F86;
}

.gn70D8-WqI .qty-text {
font-weight: 400;
font-size: 28px;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
color: #4C82A3;

}

.gn70D8-WqI .total-text-amount {
font-weight: 400;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.gn70D8-WqI .installments-text{
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

.shop-pay-icon {
    width: 50px;
    height: 12px;
}
      </style>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="giFkX2ad4D "
    ><div><button type="submit" class="package-order-button">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4546)">
<path d="M24.1594 5.16973C23.8664 4.8181 23.4995 4.5353 23.0849 4.34141C22.6703 4.14752 22.2181 4.04729 21.7604 4.04785H4.91875L4.875 3.68223C4.78547 2.92225 4.42019 2.22153 3.84843 1.71293C3.27666 1.20433 2.53815 0.923208 1.77292 0.922852L1.54167 0.922852C1.2654 0.922852 1.00045 1.0326 0.805097 1.22795C0.609747 1.4233 0.5 1.68825 0.5 1.96452C0.5 2.24079 0.609747 2.50574 0.805097 2.70109C1.00045 2.89644 1.2654 3.00619 1.54167 3.00619H1.77292C2.02806 3.00622 2.27431 3.09989 2.46497 3.26943C2.65563 3.43897 2.77744 3.67259 2.80729 3.92598L4.24062 16.1135C4.38943 17.381 4.99841 18.5497 5.95199 19.3979C6.90556 20.246 8.13735 20.7145 9.41354 20.7145H20.2917C20.5679 20.7145 20.8329 20.6048 21.0282 20.4094C21.2236 20.2141 21.3333 19.9491 21.3333 19.6729C21.3333 19.3966 21.2236 19.1316 21.0282 18.9363C20.8329 18.7409 20.5679 18.6312 20.2917 18.6312H9.41354C8.76881 18.6294 8.14042 18.4282 7.61452 18.0552C7.08861 17.6822 6.69095 17.1557 6.47604 16.5479H18.8927C20.1138 16.5479 21.2962 16.1189 22.2331 15.3358C23.1701 14.5527 23.8021 13.4652 24.0187 12.2635L24.8365 7.72806C24.9181 7.27807 24.8997 6.81563 24.7827 6.37352C24.6657 5.9314 24.4529 5.52043 24.1594 5.16973Z" fill="white"/>
<path d="M7.79232 25.9225C8.94291 25.9225 9.87565 24.9898 9.87565 23.8392C9.87565 22.6886 8.94291 21.7559 7.79232 21.7559C6.64172 21.7559 5.70898 22.6886 5.70898 23.8392C5.70898 24.9898 6.64172 25.9225 7.79232 25.9225Z" fill="white"/>
<path d="M18.2083 25.9225C19.3589 25.9225 20.2917 24.9898 20.2917 23.8392C20.2917 22.6886 19.3589 21.7559 18.2083 21.7559C17.0577 21.7559 16.125 22.6886 16.125 23.8392C16.125 24.9898 17.0577 25.9225 18.2083 25.9225Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_16_4546">
<rect width="25" height="25" fill="white" transform="translate(0.5 0.922852)"/>
</clipPath>
</defs>
</svg>

    Buy now
</button></div></div>
  
      <style id="custom-css-giFkX2ad4D">
        .package-order-button {
    background-color: #66CEAA !important;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 0;
    padding: 20px 0;
    width: 90%;
    margin: 16px 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}
      </style>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb:42px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gH41jsvoqJ "
    ><div><div class="guarantee-helper">
    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.8264 19.6021C15.4813 20.0306 15.9386 20.173 16.5025 20.2155V20.689C16.5025 21.0349 16.7829 21.3153 17.1288 21.3153C17.4746 21.3153 17.755 21.0349 17.755 20.689V20.1578C18.8871 19.8896 19.6136 18.9312 19.7725 17.986C19.9772 16.7683 19.341 15.71 18.1517 15.2896C17.4498 15.0415 16.6725 14.7409 16.228 14.3923C16.0511 14.2535 15.9744 13.9646 16.0325 13.6561C16.0893 13.3547 16.294 12.9893 16.698 12.8676C17.6159 12.5912 18.3769 13.2668 18.4143 13.3008C18.6669 13.5345 19.0611 13.5208 19.2967 13.2693C19.5331 13.0168 19.5201 12.6205 19.2677 12.3841C19.2319 12.3506 18.6395 11.8071 17.755 11.6152V11.1565C17.755 10.8106 17.4746 10.5303 17.1288 10.5303C16.7829 10.5303 16.5025 10.8106 16.5025 11.1565V11.6241C16.4476 11.6371 16.3925 11.6516 16.3367 11.6684C15.5493 11.9056 14.9611 12.5784 14.8017 13.4242C14.6558 14.1987 14.9061 14.9473 15.455 15.3778C15.9281 15.7489 16.5885 16.0655 17.7343 16.4705C18.6303 16.7872 18.5755 17.5516 18.5374 17.7784C18.4408 18.353 17.9575 18.974 17.1247 18.9795C16.3641 18.9844 16.1071 18.9435 15.5121 18.5542C15.2227 18.365 14.8346 18.4461 14.6452 18.7354C14.4559 19.0247 14.537 19.4128 14.8264 19.6021Z" fill="black"/>
<path d="M17.1762 24.2957C21.7934 24.2957 25.5497 20.5394 25.5497 15.9223C25.5497 11.3051 21.7934 7.54883 17.1762 7.54883C12.5591 7.54883 8.80273 11.3051 8.80273 15.9223C8.80273 20.5394 12.5591 24.2957 17.1762 24.2957ZM17.1762 8.80127C21.1027 8.80127 24.2972 11.9958 24.2972 15.9223C24.2972 19.8488 21.1027 23.0433 17.1762 23.0433C13.2497 23.0433 10.0552 19.8488 10.0552 15.9223C10.0552 11.9958 13.2497 8.80127 17.1762 8.80127Z" fill="black"/>
<path d="M28.1647 5.22646C27.9243 4.97777 27.5279 4.9709 27.2792 5.21134C27.0305 5.45165 27.0237 5.84809 27.2641 6.09684C29.835 8.75727 31.2498 12.25 31.2475 15.9315C31.2428 23.732 24.8927 30.0782 17.092 30.0782C13.8242 30.0782 10.6337 28.9333 8.10853 26.8543C7.87841 26.6648 7.74628 26.384 7.74597 26.0836C7.74566 25.7781 7.8804 25.4913 8.11565 25.2967C8.48847 24.9885 9.03566 24.9915 9.41684 25.3039C11.5763 27.0737 14.302 28.0483 17.092 28.0483C20.3317 28.0483 23.3792 26.782 25.673 24.4825C27.9668 22.183 29.2256 19.1324 29.2176 15.8924C29.2012 9.24446 23.7796 3.81865 17.1319 3.79709C13.8928 3.78521 10.8449 5.04121 8.54434 7.32971C6.24472 9.61734 4.97403 12.6588 4.96641 15.8938C4.96603 16.0601 5.03178 16.2198 5.14928 16.3375C5.26678 16.4553 5.42628 16.5215 5.59259 16.5215H5.78441L3.99759 19.6163L2.21078 16.5215H2.31022C2.65559 16.5215 2.93578 16.2418 2.93647 15.8964C2.95072 8.10546 9.30084 1.76715 17.0919 1.76709C19.1089 1.76709 21.0592 2.18615 22.8885 3.01265C23.2038 3.15496 23.5747 3.01496 23.717 2.69977C23.8594 2.38459 23.7193 2.01365 23.4042 1.87127C21.4117 0.971086 19.2879 0.514648 17.0919 0.514648C8.82066 0.514648 2.04141 7.07709 1.69766 15.269H1.12622C0.902469 15.269 0.695781 15.3884 0.583906 15.5821C0.472031 15.7759 0.472031 16.0146 0.583906 16.2084L2.91303 20.2425C3.13941 20.6346 3.54491 20.8688 3.99772 20.8688C4.45047 20.8688 4.85597 20.6346 5.08234 20.2425L7.41147 16.2084C7.52334 16.0146 7.52334 15.776 7.41147 15.5821C7.29959 15.3884 7.09291 15.269 6.86915 15.269H6.23809C6.39566 12.6045 7.51465 10.1206 9.42759 8.21759C11.4823 6.17359 14.2026 5.04946 17.0918 5.04946C17.1037 5.04946 17.116 5.04946 17.1278 5.04952C23.0888 5.06884 27.9505 9.93421 27.9652 15.8953C27.9723 18.8002 26.8434 21.5357 24.7863 23.5978C22.7292 25.6601 19.9966 26.7958 17.092 26.7958C14.5907 26.7958 12.1468 25.922 10.2107 24.3351C9.3674 23.6441 8.15066 23.6425 7.31747 24.3314C6.79309 24.765 6.49272 25.4041 6.49347 26.0849C6.49416 26.7604 6.79266 27.3932 7.31241 27.8211C10.0613 30.0843 13.5344 31.3306 17.092 31.3306C25.5828 31.3306 32.4948 24.423 32.4999 15.9322C32.5024 11.9239 30.9628 8.12184 28.1647 5.22646Z" fill="black"/>
<path d="M25.6574 4.45645C26.0009 4.4202 26.2499 4.1124 26.2137 3.76895C26.1774 3.42549 25.8696 3.17645 25.5262 3.2127C25.1827 3.24894 24.9337 3.55674 24.9699 3.9002C25.0062 4.24365 25.314 4.49269 25.6574 4.45645Z" fill="black"/>
</svg>

    <span class="guarantee-helper-text">60 DAYS MONEY BACK GUARANTEE</span>
</div></div></div>
  
      <style id="custom-css-gH41jsvoqJ">
        .guarantee-helper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 5px;
}

.guarantee-helper .guarantee-helper-text {
    font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 10px;
line-height: 12.72px;
letter-spacing: 0;
width: 70px;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gl5QFZwtm3">
        .gl5QFZwtm3 {
border-color:#DBDBDB !important;
}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gbB8k4AL9U gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gH3W55VRyd" data-id="gH3W55VRyd"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:5px 5px 5px 5px;--bc:#121212;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH3W55VRyd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gsu04zeWMh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4GSxVrHw2" data-id="g4GSxVrHw2"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4GSxVrHw2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtq0fvljwy gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOAKlffsC6">
    <div
      parentTag="Col"
        class="gOAKlffsC6 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;--bgc:#F55F86;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:8px;--btrr:8px;overflow:hidden"
        >{{ section.settings.ggOAKlffsC6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gOAKlffsC6">
        .gOAKlffsC6 {

}
.gOAKlffsC6 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 24px;
line-height: 42px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gE7kxuMz9z" data-id="gE7kxuMz9z"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gE7kxuMz9z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gptYalWxdQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gZF0vMtsj3" data-id="gZF0vMtsj3"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pos:relative;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZF0vMtsj3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g5M3gOWnKi gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gZU8WgJbR4"
    role="presentation"
    class="gp-group/image gZU8WgJbR4 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="glWd5zt6bD" data-id="glWd5zt6bD"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glWd5zt6bD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gzkXWgKHDh gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g1jsHAZH39 "
    ><div><div class="product-price-info">
    <div class="price-value">
    $XX.XX
    <div class="qty-text">
    Per Bottle
</div>
</div>



<div class="total-text-amount">
    Total: $XX.XX
</div>

<div class="installments-text">
    or 4 installments of $XX.XX USD by 
    <div class="shop-pay-icon">
      <img src="https://cdn.shopify.com/s/files/1/0935/6676/3140/files/shop-pay-icon.png?v=1748442545" alt="shop-pay-icon" style="width: 100px;" />
    </div>
</div>

</div></div></div>
  
      <style id="custom-css-g1jsHAZH39">
        .product-price-info {
    font-family: 'DM Sans', Sans-Serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.g1jsHAZH39 .price-value {
font-weight: 700;
font-size: 36px;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
color: #F55F86;
}

.g1jsHAZH39 .qty-text {
font-weight: 400;
font-size: 28px;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
color: #4C82A3;

}

.g1jsHAZH39 .total-text-amount {
font-weight: 400;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.g1jsHAZH39 .installments-text{
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

.shop-pay-icon {
    width: 50px;
    height: 12px;
}
      </style>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gDc6RVn380 "
    ><div><button type="submit" class="package-order-button">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4546)">
<path d="M24.1594 5.16973C23.8664 4.8181 23.4995 4.5353 23.0849 4.34141C22.6703 4.14752 22.2181 4.04729 21.7604 4.04785H4.91875L4.875 3.68223C4.78547 2.92225 4.42019 2.22153 3.84843 1.71293C3.27666 1.20433 2.53815 0.923208 1.77292 0.922852L1.54167 0.922852C1.2654 0.922852 1.00045 1.0326 0.805097 1.22795C0.609747 1.4233 0.5 1.68825 0.5 1.96452C0.5 2.24079 0.609747 2.50574 0.805097 2.70109C1.00045 2.89644 1.2654 3.00619 1.54167 3.00619H1.77292C2.02806 3.00622 2.27431 3.09989 2.46497 3.26943C2.65563 3.43897 2.77744 3.67259 2.80729 3.92598L4.24062 16.1135C4.38943 17.381 4.99841 18.5497 5.95199 19.3979C6.90556 20.246 8.13735 20.7145 9.41354 20.7145H20.2917C20.5679 20.7145 20.8329 20.6048 21.0282 20.4094C21.2236 20.2141 21.3333 19.9491 21.3333 19.6729C21.3333 19.3966 21.2236 19.1316 21.0282 18.9363C20.8329 18.7409 20.5679 18.6312 20.2917 18.6312H9.41354C8.76881 18.6294 8.14042 18.4282 7.61452 18.0552C7.08861 17.6822 6.69095 17.1557 6.47604 16.5479H18.8927C20.1138 16.5479 21.2962 16.1189 22.2331 15.3358C23.1701 14.5527 23.8021 13.4652 24.0187 12.2635L24.8365 7.72806C24.9181 7.27807 24.8997 6.81563 24.7827 6.37352C24.6657 5.9314 24.4529 5.52043 24.1594 5.16973Z" fill="white"/>
<path d="M7.79232 25.9225C8.94291 25.9225 9.87565 24.9898 9.87565 23.8392C9.87565 22.6886 8.94291 21.7559 7.79232 21.7559C6.64172 21.7559 5.70898 22.6886 5.70898 23.8392C5.70898 24.9898 6.64172 25.9225 7.79232 25.9225Z" fill="white"/>
<path d="M18.2083 25.9225C19.3589 25.9225 20.2917 24.9898 20.2917 23.8392C20.2917 22.6886 19.3589 21.7559 18.2083 21.7559C17.0577 21.7559 16.125 22.6886 16.125 23.8392C16.125 24.9898 17.0577 25.9225 18.2083 25.9225Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_16_4546">
<rect width="25" height="25" fill="white" transform="translate(0.5 0.922852)"/>
</clipPath>
</defs>
</svg>

    Buy now
</button></div></div>
  
      <style id="custom-css-gDc6RVn380">
        .package-order-button {
    background-color: #66CEAA !important;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 0;
    padding: 20px 0;
    width: 90%;
    margin: 16px 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}
      </style>
    
       
      
    <div
      parentTag="Col" id="gOkr69MPUw" data-id="gOkr69MPUw"
        style="--pl:10px;--pr:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOkr69MPUw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpiJZ-sbsB gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb:31px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="ggY8ph-YNK "
    ><div><div class="guarantee-helper2">
    <div class="money-back2">
        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.8264 19.6021C15.4813 20.0306 15.9386 20.173 16.5025 20.2155V20.689C16.5025 21.0349 16.7829 21.3153 17.1288 21.3153C17.4746 21.3153 17.755 21.0349 17.755 20.689V20.1578C18.8871 19.8896 19.6136 18.9312 19.7725 17.986C19.9772 16.7683 19.341 15.71 18.1517 15.2896C17.4498 15.0415 16.6725 14.7409 16.228 14.3923C16.0511 14.2535 15.9744 13.9646 16.0325 13.6561C16.0893 13.3547 16.294 12.9893 16.698 12.8676C17.6159 12.5912 18.3769 13.2668 18.4143 13.3008C18.6669 13.5345 19.0611 13.5208 19.2967 13.2693C19.5331 13.0168 19.5201 12.6205 19.2677 12.3841C19.2319 12.3506 18.6395 11.8071 17.755 11.6152V11.1565C17.755 10.8106 17.4746 10.5303 17.1288 10.5303C16.7829 10.5303 16.5025 10.8106 16.5025 11.1565V11.6241C16.4476 11.6371 16.3925 11.6516 16.3367 11.6684C15.5493 11.9056 14.9611 12.5784 14.8017 13.4242C14.6558 14.1987 14.9061 14.9473 15.455 15.3778C15.9281 15.7489 16.5885 16.0655 17.7343 16.4705C18.6303 16.7872 18.5755 17.5516 18.5374 17.7784C18.4408 18.353 17.9575 18.974 17.1247 18.9795C16.3641 18.9844 16.1071 18.9435 15.5121 18.5542C15.2227 18.365 14.8346 18.4461 14.6452 18.7354C14.4559 19.0247 14.537 19.4128 14.8264 19.6021Z" fill="black"/>
<path d="M17.1762 24.2957C21.7934 24.2957 25.5497 20.5394 25.5497 15.9223C25.5497 11.3051 21.7934 7.54883 17.1762 7.54883C12.5591 7.54883 8.80273 11.3051 8.80273 15.9223C8.80273 20.5394 12.5591 24.2957 17.1762 24.2957ZM17.1762 8.80127C21.1027 8.80127 24.2972 11.9958 24.2972 15.9223C24.2972 19.8488 21.1027 23.0433 17.1762 23.0433C13.2497 23.0433 10.0552 19.8488 10.0552 15.9223C10.0552 11.9958 13.2497 8.80127 17.1762 8.80127Z" fill="black"/>
<path d="M28.1647 5.22646C27.9243 4.97777 27.5279 4.9709 27.2792 5.21134C27.0305 5.45165 27.0237 5.84809 27.2641 6.09684C29.835 8.75727 31.2498 12.25 31.2475 15.9315C31.2428 23.732 24.8927 30.0782 17.092 30.0782C13.8242 30.0782 10.6337 28.9333 8.10853 26.8543C7.87841 26.6648 7.74628 26.384 7.74597 26.0836C7.74566 25.7781 7.8804 25.4913 8.11565 25.2967C8.48847 24.9885 9.03566 24.9915 9.41684 25.3039C11.5763 27.0737 14.302 28.0483 17.092 28.0483C20.3317 28.0483 23.3792 26.782 25.673 24.4825C27.9668 22.183 29.2256 19.1324 29.2176 15.8924C29.2012 9.24446 23.7796 3.81865 17.1319 3.79709C13.8928 3.78521 10.8449 5.04121 8.54434 7.32971C6.24472 9.61734 4.97403 12.6588 4.96641 15.8938C4.96603 16.0601 5.03178 16.2198 5.14928 16.3375C5.26678 16.4553 5.42628 16.5215 5.59259 16.5215H5.78441L3.99759 19.6163L2.21078 16.5215H2.31022C2.65559 16.5215 2.93578 16.2418 2.93647 15.8964C2.95072 8.10546 9.30084 1.76715 17.0919 1.76709C19.1089 1.76709 21.0592 2.18615 22.8885 3.01265C23.2038 3.15496 23.5747 3.01496 23.717 2.69977C23.8594 2.38459 23.7193 2.01365 23.4042 1.87127C21.4117 0.971086 19.2879 0.514648 17.0919 0.514648C8.82066 0.514648 2.04141 7.07709 1.69766 15.269H1.12622C0.902469 15.269 0.695781 15.3884 0.583906 15.5821C0.472031 15.7759 0.472031 16.0146 0.583906 16.2084L2.91303 20.2425C3.13941 20.6346 3.54491 20.8688 3.99772 20.8688C4.45047 20.8688 4.85597 20.6346 5.08234 20.2425L7.41147 16.2084C7.52334 16.0146 7.52334 15.776 7.41147 15.5821C7.29959 15.3884 7.09291 15.269 6.86915 15.269H6.23809C6.39566 12.6045 7.51465 10.1206 9.42759 8.21759C11.4823 6.17359 14.2026 5.04946 17.0918 5.04946C17.1037 5.04946 17.116 5.04946 17.1278 5.04952C23.0888 5.06884 27.9505 9.93421 27.9652 15.8953C27.9723 18.8002 26.8434 21.5357 24.7863 23.5978C22.7292 25.6601 19.9966 26.7958 17.092 26.7958C14.5907 26.7958 12.1468 25.922 10.2107 24.3351C9.3674 23.6441 8.15066 23.6425 7.31747 24.3314C6.79309 24.765 6.49272 25.4041 6.49347 26.0849C6.49416 26.7604 6.79266 27.3932 7.31241 27.8211C10.0613 30.0843 13.5344 31.3306 17.092 31.3306C25.5828 31.3306 32.4948 24.423 32.4999 15.9322C32.5024 11.9239 30.9628 8.12184 28.1647 5.22646Z" fill="black"/>
<path d="M25.6574 4.45645C26.0009 4.4202 26.2499 4.1124 26.2137 3.76895C26.1774 3.42549 25.8696 3.17645 25.5262 3.2127C25.1827 3.24894 24.9337 3.55674 24.9699 3.9002C25.0062 4.24365 25.314 4.49269 25.6574 4.45645Z" fill="black"/>
</svg>

    <span class="guarantee-helper-text2">60 DAYS MONEY BACK GUARANTEE</span>
    </div>
    
    <div class="free-shipping2">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4595)">
<path d="M31.9798 14.1044H27.0518V8.22257C27.0518 7.74567 26.7339 7.42773 26.257 7.42773H4.47843C4.00153 7.42773 3.68359 7.74567 3.68359 8.22257C3.68359 8.69948 4.00153 9.01741 4.47843 9.01741H25.4622V27.4577H14.8908C14.4934 25.709 12.9832 24.3578 11.1551 24.3578C9.32695 24.3578 7.73727 25.709 7.41933 27.4577H4.47843C4.00153 27.4577 3.68359 27.7756 3.68359 28.2525C3.68359 28.7294 4.00153 29.0473 4.47843 29.0473H7.33985C7.73727 30.796 9.24746 32.1472 11.0756 32.1472C12.9037 32.1472 14.4934 30.796 14.8113 29.0473H28.0851C28.4826 30.796 29.9928 32.1472 31.8209 32.1472C33.649 32.1472 35.2387 30.796 35.5566 29.0473H37.4642C37.9411 29.0473 38.2591 28.7294 38.2591 28.2525V20.3836C38.2591 16.8863 35.4771 14.1044 31.9798 14.1044ZM11.0756 30.4781C9.80385 30.4781 8.85004 29.4448 8.77056 28.2525C8.77056 26.9808 9.80385 26.027 11.0756 26.027C12.3473 26.027 13.3011 27.0602 13.3011 28.2525C13.3806 29.5242 12.3473 30.4781 11.0756 30.4781ZM31.9004 30.4781C30.6286 30.4781 29.6748 29.4448 29.6748 28.2525C29.6748 26.9808 30.7081 26.027 31.9004 26.027C33.1721 26.027 34.1259 27.0602 34.2054 28.2525C34.1259 29.5242 33.0926 30.4781 31.9004 30.4781ZM36.6694 27.4577H35.6361C35.2387 25.709 33.7285 24.3578 31.9004 24.3578C30.0722 24.3578 28.4826 25.709 28.1646 27.4577H27.1313V15.6941H32.0593C34.6028 15.6941 36.7489 17.7606 36.7489 20.3836V27.4577H36.6694Z" fill="black"/>
<path d="M0.90226 12.992H15.8452C16.3221 12.992 16.6401 12.6741 16.6401 12.1972C16.6401 11.7203 16.3221 11.4023 15.8452 11.4023H0.90226C0.425357 11.4023 0.107422 11.7203 0.107422 12.1972C0.107422 12.6741 0.425357 12.992 0.90226 12.992Z" fill="black"/>
<path d="M11.2352 16.2509C11.2352 15.774 10.9172 15.4561 10.4403 15.4561H0.90226C0.425357 15.4561 0.107422 15.774 0.107422 16.2509C0.107422 16.7278 0.425357 17.0457 0.90226 17.0457H10.4403C10.9172 17.0457 11.2352 16.7278 11.2352 16.2509Z" fill="black"/>
<path d="M5.43164 20.7812C5.43164 21.2581 5.74958 21.576 6.22648 21.576H16.7183C17.1953 21.576 17.5132 21.2581 17.5132 20.7812C17.5132 20.3043 17.1953 19.9863 16.7183 19.9863H6.22648C5.82906 19.9863 5.43164 20.3837 5.43164 20.7812Z" fill="black"/>
</g>
<defs>
<clipPath id="clip0_16_4595">
<rect width="38.1522" height="38.1522" fill="white" transform="translate(0.107422 0.671875)"/>
</clipPath>
</defs>
</svg>
<span class="free-shipping-text2">
    <span>Free</span>
<span>shipping</span>
</span>

    </div>
    
    <div class="free-cookbook2">
        <img src="https://cdn.shopify.com/s/files/1/0935/6676/3140/files/c58316fe1fa6285c3f74511a0ddc5a04dddcd0bf.png?v=1748445480" alt="cookbook-image" />
        <span class="free-cookbook-text2">Free cookbook</span>
    </div>
    
</div></div></div>
  
      <style id="custom-css-ggY8ph-YNK">
        .guarantee-helper2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-start;
}

.money-back2,
.free-shipping2,
.free-cookbook2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

 .guarantee-helper-text2,
.free-shipping-text2,
.free-cookbook-text2{
    font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 10px;
line-height: 12.72px;
letter-spacing: 0;
width: 100px;
text-transform: uppercase;
}

.free-shipping2 {
    margin-left: 10px;
}

.free-shipping-text2 {
    display: inline;
}

.free-shipping-text2 span {
    display: block;
}


.guarantee-helper2 img {
    height: 50px;
    transform: rotate(10.45deg);
}

.free-cookbook2 {
    margin-left: -20px;
}

.free-cookbook-text2 {
    margin-left: -10px;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gH3W55VRyd">
        .gH3W55VRyd {
border-color:#F55F86 !important;
}
      </style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gURYSYE45i gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gUEYtfFS1w" data-id="gUEYtfFS1w"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUEYtfFS1w gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gIBfjrZgK0 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gfNTtNenKL" data-id="gfNTtNenKL"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:5px 5px 5px 5px;--bc:#121212;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfNTtNenKL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-kjpRZ4hW gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gKmcdd2dr8" data-id="gKmcdd2dr8"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKmcdd2dr8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gaYi6VYR_Y gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZKOWf5m2I">
    <div
      parentTag="Col"
        class="gZKOWf5m2I "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:0px;--bbrr:0px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;--bgc:#FFE4E9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:0px;--bbrr:0px;--btlr:8px;--btrr:8px;overflow:hidden"
        >{{ section.settings.ggZKOWf5m2I_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZKOWf5m2I">
        .gZKOWf5m2I {

}
.gZKOWf5m2I p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 24px;
line-height: 42px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="gP9xlCqbns" data-id="gP9xlCqbns"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gP9xlCqbns gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_VKy3Btjf gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gA9myPgDkW"
    role="presentation"
    class="gp-group/image gA9myPgDkW gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xOTIwLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE5MjAiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTkyMC0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTkyMCIgdG89IjE5MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_567423217359127633-efe367ed-1d33-40b3-8691-48e7930dea5a.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="gp7tmqb_Z5" data-id="gp7tmqb_Z5"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp7tmqb_Z5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gjRO6GuJ1e gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gtSVmbLXyj "
    ><div><div class="product-price-info">
    <div class="price-value">
    $XX.XX
    <div class="qty-text">
    Per Bottle
</div>
</div>



<div class="total-text-amount">
    Total: $XX.XX
</div>

<div class="installments-text">
    or 4 installments of $XX.XX USD by 
    <div class="shop-pay-icon">
      <img src="https://cdn.shopify.com/s/files/1/0935/6676/3140/files/shop-pay-icon.png?v=1748442545" alt="shop-pay-icon" style="width: 100px;" />
    </div>
</div>

</div></div></div>
  
      <style id="custom-css-gtSVmbLXyj">
        .product-price-info {
    font-family: 'DM Sans', Sans-Serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gtSVmbLXyj .price-value {
font-weight: 700;
font-size: 36px;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
color: #F55F86;
}

.gtSVmbLXyj .qty-text {
font-weight: 400;
font-size: 28px;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
color: #4C82A3;

}

.gtSVmbLXyj .total-text-amount {
font-weight: 400;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.gtSVmbLXyj .installments-text{
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

.shop-pay-icon {
    width: 50px;
    height: 12px;
}
      </style>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="geIum_AxIA "
    ><div><button type="submit" class="package-order-button">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4546)">
<path d="M24.1594 5.16973C23.8664 4.8181 23.4995 4.5353 23.0849 4.34141C22.6703 4.14752 22.2181 4.04729 21.7604 4.04785H4.91875L4.875 3.68223C4.78547 2.92225 4.42019 2.22153 3.84843 1.71293C3.27666 1.20433 2.53815 0.923208 1.77292 0.922852L1.54167 0.922852C1.2654 0.922852 1.00045 1.0326 0.805097 1.22795C0.609747 1.4233 0.5 1.68825 0.5 1.96452C0.5 2.24079 0.609747 2.50574 0.805097 2.70109C1.00045 2.89644 1.2654 3.00619 1.54167 3.00619H1.77292C2.02806 3.00622 2.27431 3.09989 2.46497 3.26943C2.65563 3.43897 2.77744 3.67259 2.80729 3.92598L4.24062 16.1135C4.38943 17.381 4.99841 18.5497 5.95199 19.3979C6.90556 20.246 8.13735 20.7145 9.41354 20.7145H20.2917C20.5679 20.7145 20.8329 20.6048 21.0282 20.4094C21.2236 20.2141 21.3333 19.9491 21.3333 19.6729C21.3333 19.3966 21.2236 19.1316 21.0282 18.9363C20.8329 18.7409 20.5679 18.6312 20.2917 18.6312H9.41354C8.76881 18.6294 8.14042 18.4282 7.61452 18.0552C7.08861 17.6822 6.69095 17.1557 6.47604 16.5479H18.8927C20.1138 16.5479 21.2962 16.1189 22.2331 15.3358C23.1701 14.5527 23.8021 13.4652 24.0187 12.2635L24.8365 7.72806C24.9181 7.27807 24.8997 6.81563 24.7827 6.37352C24.6657 5.9314 24.4529 5.52043 24.1594 5.16973Z" fill="white"/>
<path d="M7.79232 25.9225C8.94291 25.9225 9.87565 24.9898 9.87565 23.8392C9.87565 22.6886 8.94291 21.7559 7.79232 21.7559C6.64172 21.7559 5.70898 22.6886 5.70898 23.8392C5.70898 24.9898 6.64172 25.9225 7.79232 25.9225Z" fill="white"/>
<path d="M18.2083 25.9225C19.3589 25.9225 20.2917 24.9898 20.2917 23.8392C20.2917 22.6886 19.3589 21.7559 18.2083 21.7559C17.0577 21.7559 16.125 22.6886 16.125 23.8392C16.125 24.9898 17.0577 25.9225 18.2083 25.9225Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_16_4546">
<rect width="25" height="25" fill="white" transform="translate(0.5 0.922852)"/>
</clipPath>
</defs>
</svg>

    Buy now
</button></div></div>
  
      <style id="custom-css-geIum_AxIA">
        .package-order-button {
    background-color: #66CEAA !important;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 0;
    padding: 20px 0;
    width: 90%;
    margin: 16px 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}
      </style>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--mb:31px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gE9tA2hQ5B "
    ><div><div class="guarantee-helper2">
    <div class="money-back2">
        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.8264 19.6021C15.4813 20.0306 15.9386 20.173 16.5025 20.2155V20.689C16.5025 21.0349 16.7829 21.3153 17.1288 21.3153C17.4746 21.3153 17.755 21.0349 17.755 20.689V20.1578C18.8871 19.8896 19.6136 18.9312 19.7725 17.986C19.9772 16.7683 19.341 15.71 18.1517 15.2896C17.4498 15.0415 16.6725 14.7409 16.228 14.3923C16.0511 14.2535 15.9744 13.9646 16.0325 13.6561C16.0893 13.3547 16.294 12.9893 16.698 12.8676C17.6159 12.5912 18.3769 13.2668 18.4143 13.3008C18.6669 13.5345 19.0611 13.5208 19.2967 13.2693C19.5331 13.0168 19.5201 12.6205 19.2677 12.3841C19.2319 12.3506 18.6395 11.8071 17.755 11.6152V11.1565C17.755 10.8106 17.4746 10.5303 17.1288 10.5303C16.7829 10.5303 16.5025 10.8106 16.5025 11.1565V11.6241C16.4476 11.6371 16.3925 11.6516 16.3367 11.6684C15.5493 11.9056 14.9611 12.5784 14.8017 13.4242C14.6558 14.1987 14.9061 14.9473 15.455 15.3778C15.9281 15.7489 16.5885 16.0655 17.7343 16.4705C18.6303 16.7872 18.5755 17.5516 18.5374 17.7784C18.4408 18.353 17.9575 18.974 17.1247 18.9795C16.3641 18.9844 16.1071 18.9435 15.5121 18.5542C15.2227 18.365 14.8346 18.4461 14.6452 18.7354C14.4559 19.0247 14.537 19.4128 14.8264 19.6021Z" fill="black"/>
<path d="M17.1762 24.2957C21.7934 24.2957 25.5497 20.5394 25.5497 15.9223C25.5497 11.3051 21.7934 7.54883 17.1762 7.54883C12.5591 7.54883 8.80273 11.3051 8.80273 15.9223C8.80273 20.5394 12.5591 24.2957 17.1762 24.2957ZM17.1762 8.80127C21.1027 8.80127 24.2972 11.9958 24.2972 15.9223C24.2972 19.8488 21.1027 23.0433 17.1762 23.0433C13.2497 23.0433 10.0552 19.8488 10.0552 15.9223C10.0552 11.9958 13.2497 8.80127 17.1762 8.80127Z" fill="black"/>
<path d="M28.1647 5.22646C27.9243 4.97777 27.5279 4.9709 27.2792 5.21134C27.0305 5.45165 27.0237 5.84809 27.2641 6.09684C29.835 8.75727 31.2498 12.25 31.2475 15.9315C31.2428 23.732 24.8927 30.0782 17.092 30.0782C13.8242 30.0782 10.6337 28.9333 8.10853 26.8543C7.87841 26.6648 7.74628 26.384 7.74597 26.0836C7.74566 25.7781 7.8804 25.4913 8.11565 25.2967C8.48847 24.9885 9.03566 24.9915 9.41684 25.3039C11.5763 27.0737 14.302 28.0483 17.092 28.0483C20.3317 28.0483 23.3792 26.782 25.673 24.4825C27.9668 22.183 29.2256 19.1324 29.2176 15.8924C29.2012 9.24446 23.7796 3.81865 17.1319 3.79709C13.8928 3.78521 10.8449 5.04121 8.54434 7.32971C6.24472 9.61734 4.97403 12.6588 4.96641 15.8938C4.96603 16.0601 5.03178 16.2198 5.14928 16.3375C5.26678 16.4553 5.42628 16.5215 5.59259 16.5215H5.78441L3.99759 19.6163L2.21078 16.5215H2.31022C2.65559 16.5215 2.93578 16.2418 2.93647 15.8964C2.95072 8.10546 9.30084 1.76715 17.0919 1.76709C19.1089 1.76709 21.0592 2.18615 22.8885 3.01265C23.2038 3.15496 23.5747 3.01496 23.717 2.69977C23.8594 2.38459 23.7193 2.01365 23.4042 1.87127C21.4117 0.971086 19.2879 0.514648 17.0919 0.514648C8.82066 0.514648 2.04141 7.07709 1.69766 15.269H1.12622C0.902469 15.269 0.695781 15.3884 0.583906 15.5821C0.472031 15.7759 0.472031 16.0146 0.583906 16.2084L2.91303 20.2425C3.13941 20.6346 3.54491 20.8688 3.99772 20.8688C4.45047 20.8688 4.85597 20.6346 5.08234 20.2425L7.41147 16.2084C7.52334 16.0146 7.52334 15.776 7.41147 15.5821C7.29959 15.3884 7.09291 15.269 6.86915 15.269H6.23809C6.39566 12.6045 7.51465 10.1206 9.42759 8.21759C11.4823 6.17359 14.2026 5.04946 17.0918 5.04946C17.1037 5.04946 17.116 5.04946 17.1278 5.04952C23.0888 5.06884 27.9505 9.93421 27.9652 15.8953C27.9723 18.8002 26.8434 21.5357 24.7863 23.5978C22.7292 25.6601 19.9966 26.7958 17.092 26.7958C14.5907 26.7958 12.1468 25.922 10.2107 24.3351C9.3674 23.6441 8.15066 23.6425 7.31747 24.3314C6.79309 24.765 6.49272 25.4041 6.49347 26.0849C6.49416 26.7604 6.79266 27.3932 7.31241 27.8211C10.0613 30.0843 13.5344 31.3306 17.092 31.3306C25.5828 31.3306 32.4948 24.423 32.4999 15.9322C32.5024 11.9239 30.9628 8.12184 28.1647 5.22646Z" fill="black"/>
<path d="M25.6574 4.45645C26.0009 4.4202 26.2499 4.1124 26.2137 3.76895C26.1774 3.42549 25.8696 3.17645 25.5262 3.2127C25.1827 3.24894 24.9337 3.55674 24.9699 3.9002C25.0062 4.24365 25.314 4.49269 25.6574 4.45645Z" fill="black"/>
</svg>

    <span class="guarantee-helper-text2">60 DAYS MONEY BACK GUARANTEE</span>
    </div>
    
    <div class="free-shipping2">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_16_4595)">
<path d="M31.9798 14.1044H27.0518V8.22257C27.0518 7.74567 26.7339 7.42773 26.257 7.42773H4.47843C4.00153 7.42773 3.68359 7.74567 3.68359 8.22257C3.68359 8.69948 4.00153 9.01741 4.47843 9.01741H25.4622V27.4577H14.8908C14.4934 25.709 12.9832 24.3578 11.1551 24.3578C9.32695 24.3578 7.73727 25.709 7.41933 27.4577H4.47843C4.00153 27.4577 3.68359 27.7756 3.68359 28.2525C3.68359 28.7294 4.00153 29.0473 4.47843 29.0473H7.33985C7.73727 30.796 9.24746 32.1472 11.0756 32.1472C12.9037 32.1472 14.4934 30.796 14.8113 29.0473H28.0851C28.4826 30.796 29.9928 32.1472 31.8209 32.1472C33.649 32.1472 35.2387 30.796 35.5566 29.0473H37.4642C37.9411 29.0473 38.2591 28.7294 38.2591 28.2525V20.3836C38.2591 16.8863 35.4771 14.1044 31.9798 14.1044ZM11.0756 30.4781C9.80385 30.4781 8.85004 29.4448 8.77056 28.2525C8.77056 26.9808 9.80385 26.027 11.0756 26.027C12.3473 26.027 13.3011 27.0602 13.3011 28.2525C13.3806 29.5242 12.3473 30.4781 11.0756 30.4781ZM31.9004 30.4781C30.6286 30.4781 29.6748 29.4448 29.6748 28.2525C29.6748 26.9808 30.7081 26.027 31.9004 26.027C33.1721 26.027 34.1259 27.0602 34.2054 28.2525C34.1259 29.5242 33.0926 30.4781 31.9004 30.4781ZM36.6694 27.4577H35.6361C35.2387 25.709 33.7285 24.3578 31.9004 24.3578C30.0722 24.3578 28.4826 25.709 28.1646 27.4577H27.1313V15.6941H32.0593C34.6028 15.6941 36.7489 17.7606 36.7489 20.3836V27.4577H36.6694Z" fill="black"/>
<path d="M0.90226 12.992H15.8452C16.3221 12.992 16.6401 12.6741 16.6401 12.1972C16.6401 11.7203 16.3221 11.4023 15.8452 11.4023H0.90226C0.425357 11.4023 0.107422 11.7203 0.107422 12.1972C0.107422 12.6741 0.425357 12.992 0.90226 12.992Z" fill="black"/>
<path d="M11.2352 16.2509C11.2352 15.774 10.9172 15.4561 10.4403 15.4561H0.90226C0.425357 15.4561 0.107422 15.774 0.107422 16.2509C0.107422 16.7278 0.425357 17.0457 0.90226 17.0457H10.4403C10.9172 17.0457 11.2352 16.7278 11.2352 16.2509Z" fill="black"/>
<path d="M5.43164 20.7812C5.43164 21.2581 5.74958 21.576 6.22648 21.576H16.7183C17.1953 21.576 17.5132 21.2581 17.5132 20.7812C17.5132 20.3043 17.1953 19.9863 16.7183 19.9863H6.22648C5.82906 19.9863 5.43164 20.3837 5.43164 20.7812Z" fill="black"/>
</g>
<defs>
<clipPath id="clip0_16_4595">
<rect width="38.1522" height="38.1522" fill="white" transform="translate(0.107422 0.671875)"/>
</clipPath>
</defs>
</svg>
<span class="free-shipping-text2">
    <span>Free</span>
<span>shipping</span>
</span>

    </div>
    
    <div class="free-cookbook2">
        <img src="https://cdn.shopify.com/s/files/1/0935/6676/3140/files/c58316fe1fa6285c3f74511a0ddc5a04dddcd0bf.png?v=1748445480" alt="cookbook-image" />
        <span class="free-cookbook-text2">Free cookbook</span>
    </div>
    
</div></div></div>
  
      <style id="custom-css-gE9tA2hQ5B">
        .guarantee-helper2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
}

.money-back2,
.free-shipping2,
.free-cookbook2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

 .guarantee-helper-text2,
.free-shipping-text2,
.free-cookbook-text2{
    font-family: 'DM Sans', Sans-Serif;
font-weight: 700;
font-size: 10px;
line-height: 12.72px;
letter-spacing: 0;
width: 100px;
text-transform: uppercase;
}

.free-shipping2 {
    margin-left: 10px;
}

.free-shipping-text2 {
    display: inline;
}

.free-shipping-text2 span {
    display: block;
}


.guarantee-helper2 img {
    height: 50px;
    transform: rotate(10.45deg);
}

.free-cookbook2 {
    margin-left: -20px;
}

.free-cookbook-text2 {
    margin-left: -10px;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      <style id="custom-css-gfNTtNenKL">
        .gfNTtNenKL {
border-color:#FFE4E9 !important;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-568602295135110124 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=567883725279331409&sectionId=568602295135110124)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0XjVrjf7S_text","label":"gg0XjVrjf7S_text","default":"<p>Starter order</p>"},{"type":"html","id":"ggOAKlffsC6_text","label":"ggOAKlffsC6_text","default":"<p>Biggest savings</p>"},{"type":"html","id":"ggZKOWf5m2I_text","label":"ggZKOWf5m2I_text","default":"<p><span style=\"color:#F55F86;\">Biggest savings</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
