

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-568882951903773717.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-568882951903773717.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-568882951903773717.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-568882951903773717.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-568882951903773717.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-568882951903773717.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-568882951903773717.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-568882951903773717.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-568882951903773717.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-568882951903773717.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-568882951903773717.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-568882951903773717.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-568882951903773717.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-568882951903773717.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-568882951903773717.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-568882951903773717.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-568882951903773717.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-568882951903773717.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-568882951903773717.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-568882951903773717.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-568882951903773717.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-568882951903773717.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-568882951903773717.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-568882951903773717.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-568882951903773717.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-568882951903773717.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-568882951903773717.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-568882951903773717.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-568882951903773717.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-568882951903773717.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-568882951903773717.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-568882951903773717.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-568882951903773717.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-568882951903773717.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-568882951903773717.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-568882951903773717.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-568882951903773717.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-568882951903773717.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-568882951903773717.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-568882951903773717.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-568882951903773717.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-568882951903773717.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-568882951903773717.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-568882951903773717.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-568882951903773717.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-568882951903773717.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-568882951903773717.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-568882951903773717.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-568882951903773717 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-568882951903773717 .gp-relative{position:relative}.gps-568882951903773717 .gp-z-1{z-index:1}.gps-568882951903773717 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-568882951903773717 .gp-mb-0{margin-bottom:0}.gps-568882951903773717 .gp-flex{display:flex}.gps-568882951903773717 .gp-inline-flex{display:inline-flex}.gps-568882951903773717 .gp-grid{display:grid}.gps-568882951903773717 .\!gp-hidden{display:none!important}.gps-568882951903773717 .gp-hidden{display:none}.gps-568882951903773717 .gp-h-full{height:100%}.gps-568882951903773717 .gp-max-w-full{max-width:100%}.gps-568882951903773717 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-568882951903773717 .gp-flex-col{flex-direction:column}.gps-568882951903773717 .gp-items-center{align-items:center}.gps-568882951903773717 .gp-justify-center{justify-content:center}.gps-568882951903773717 .gp-gap-y-0{row-gap:0}.gps-568882951903773717 .gp-overflow-hidden{overflow:hidden}.gps-568882951903773717 .gp-break-words{overflow-wrap:break-word}.gps-568882951903773717 .gp-rounded-none{border-radius:0}.gps-568882951903773717 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-568882951903773717 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-568882951903773717 .gp-no-underline{text-decoration-line:none}.gps-568882951903773717 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568882951903773717 .gp-duration-200{transition-duration:.2s}.gps-568882951903773717 .gp-duration-300{transition-duration:.3s}.gps-568882951903773717 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-568882951903773717 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-568882951903773717 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-568882951903773717 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-568882951903773717 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-568882951903773717 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-568882951903773717 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-568882951903773717 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-568882951903773717 .tablet\:\!gp-hidden{display:none!important}.gps-568882951903773717 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-568882951903773717 .mobile\:\!gp-hidden{display:none!important}.gps-568882951903773717 .mobile\:gp-hidden{display:none}}.gps-568882951903773717 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-568882951903773717 .\[\&_p\]\:gp-inline p{display:inline}.gps-568882951903773717 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-568882951903773717 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-568882951903773717 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gXLDRLjua9" data-id="gXLDRLjua9"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXLDRLjua9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-ZMc3HSzi gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gJqosRQupC" data-id="gJqosRQupC"
        style="--pt:10px;--pl:90px;--pr:90px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:100%;--bgc:#FFF5F7;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJqosRQupC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gGOsbgsJof gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4fGIzHpAf" data-id="g4fGIzHpAf"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4fGIzHpAf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g4LTCL0VtU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYoel23kP8">
    <div
      parentTag="Col"
        class="gYoel23kP8 "
        style="--ta:left;--mb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYoel23kP8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYoel23kP8">
        .gYoel23kP8 {

}
.gYoel23kP8 p {
font-family: 'DM Sans', Sans-Serif !important;
font-weight: 700 !important;
font-size: 16px !important;
line-height: 140% !important;
letter-spacing: 0% !important;
text-align: center !important;

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMEsDCb9G7">
    <div
      parentTag="Col"
        class="gMEsDCb9G7 "
        style="--ta:left;--mb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMEsDCb9G7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gMEsDCb9G7">
        .gMEsDCb9G7 {

}
.gMEsDCb9G7 p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 32px;
line-height: 120%;
letter-spacing: 0%;
text-align: center;

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEGL8s2-P1">
    <div
      parentTag="Col"
        class="gEGL8s2-P1 "
        style="--ta:left;--mb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEGL8s2-P1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEGL8s2-P1">
        .gEGL8s2-P1 {

}
.gEGL8s2-P1 p {
font-family: 'DM Sans', Sans-Serif !important;
font-weight: 400 !important;
font-size: 18px !important;
line-height: 140% !important;
letter-spacing: 0% !important;

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJdOTe-Koy">
    <div
      parentTag="Col"
        class="gJdOTe-Koy "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJdOTe-Koy_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gJdOTe-Koy">
        .gJdOTe-Koy {

}
.gJdOTe-Koy p {
font-family:'DM Sans', Sans-Serif;
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0%;

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g1AemksySW" data-id="g1AemksySW"
        style="--mt:16px;--pt:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1AemksySW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQvsojb07v gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--ml:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gJnmKYxKlG.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gJnmKYxKlG:hover::before {
      
      
    }

    .gJnmKYxKlG:hover .gp-button-icon {
      color: undefined;
    }

     .gJnmKYxKlG .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gJnmKYxKlG:hover .gp-button-price {
      color: undefined;
    }

    .gJnmKYxKlG .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gJnmKYxKlG .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gJnmKYxKlG:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gJnmKYxKlG" aria-label="<p>TRY new ULTIMATE GLP-1 now</p>"
      
      data-state="idle"
      class="gJnmKYxKlG gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggJnmKYxKlG_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

      <style id="custom-css-gJnmKYxKlG">
        button.gJnmKYxKlG {
    background-color: #66CEAA;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 5%;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghZma0MZyV">
    <div
      parentTag="Col"
        class="ghZma0MZyV "
        style="--ta:left;--mt:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghZma0MZyV_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ghZma0MZyV">
        .ghZma0MZyV {

}
.ghZma0MZyV p {
font-family: 'DM Sans', Sans-Serif;
font-weight: 500;
font-style: italic;
font-size: 14px;
line-height: 32px;
letter-spacing: 0%;
text-align: center;

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-568882951903773717 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/miralou-shop/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=568882915849536544&sectionId=568882951903773717)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYoel23kP8_text","label":"ggYoel23kP8_text","default":"<p><span style=\"color:#cccccc;\">⭐ </span><span style=\"color:#000000;\">Trusted by 2.4M happy customers</span><span style=\"color:#cccccc;\"> ⭐</span></p>"},{"type":"html","id":"ggMEsDCb9G7_text","label":"ggMEsDCb9G7_text","default":"<p><span style=\"color:#F55F86;\"><strong>Finally – Activate Fat Burning&nbsp;</strong></span></p><p><span style=\"color:#F55F86;\"><strong>GLP-1 Naturally</strong></span><br><span style=\"color:#F55F86;\">No Weekly Jabs, Weird Pills Or Scary&nbsp;</span></p><p><span style=\"color:#F55F86;\">Side Effects</span></p>"},{"type":"html","id":"ggEGL8s2-P1_text","label":"ggEGL8s2-P1_text","default":"<p><strong>Try NEW Ultimate GLP-1:</strong> The World’s Only Plant-Based Formula&nbsp;</p><p>With Ingredients Clinically Shown To Boost GLP-1 by 22%, Quiet&nbsp;</p><p>Cravings &amp; Burn Fat On Autopilot (Without diets, treadmills or&nbsp;</p><p>painful treatments)</p>"},{"type":"html","id":"ggJdOTe-Koy_text","label":"ggJdOTe-Koy_text","default":"<p>✅ Safely boost GLP-1 levels by up to 22%<br>✅ Switch off “food noise” &amp; feel “full” between meals<br>✅ Start balancing blood sugar from day 1<br>✅ Kickstart metabolism &amp; burn fat on autopilot</p>"},{"type":"html","id":"ggJnmKYxKlG_label","label":"ggJnmKYxKlG_label","default":"<p>TRY new ULTIMATE GLP-1 now</p>"},{"type":"html","id":"gghZma0MZyV_text","label":"gghZma0MZyV_text","default":"<p><span style=\"color:#000000;\">✅ 60 day money back guarantee</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
