{% liquid
  if settings.menu.links == blank
    assign main_menu_linklist = linklists[section.settings.menu].links
  else
    assign main_menu_linklist = settings.menu.links
  endif
%}
{% assign current_page = request.path %}

<header class="site-header">
  <div class="page-width header__inner">
    <a href="/" class="header__logo">
      {% if settings.logo_mobile %}
        <img src="{{ settings.logo_mobile | image_url }}" alt="Mobile Logo" class="logo--mobile">
      {% endif %}
      {% if settings.logo_image %}
        <img src="{{ settings.logo_image | image_url }}" alt="Logo" class="logo--desktop">
      {% endif %}
    </a>

    <nav class="nav-desktop">
      <div class="menu-item-wrapper">
        {% for link in main_menu_linklist %}
          {% if link.links != blank %}
            <div class="menu-parent">
              <a href="{{ link.url }}" class="menu-item with-chevron">
                {{ link.title }}
                {% render 'icon-dropdown' %}
              </a>
              <div class="dropdown-menu">
                {% for childlink in link.links %}
                  <a href="{{ childlink.url }}" class="dropdown-link">{{ childlink.title }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a href="{{ link.url }}" class="menu-item">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

    <div class="header__icons">
      <a href="{{ routes.search_url }}">
        {% render 'icon-search' %}
      </a>
      <a href="{{ routes.cart_url }}">
        {% render 'icon-favorite' %}
      </a>
      <button id="cart-icon" class="cart-icon">
        {% render 'icon-shopping-cart' %}
      </button>
    </div>
  </div>
</header>
