<footer class="footer">
  <div class="footer__blocks page-width">
    {% for block in section.blocks %}
      <div class="footer__block footer__block--{{ block.type }}">
        {% case block.type %}
          {% when 'logo' %}
            <div class="footer__logo-copy">
              {{ block.settings.logo_copy }}
            </div>
          {% when 'information_column' %}
            <div class="footer-column">
              <h3 class="footer-title">{{ block.settings.title | upcase }}</h3>
              <ul class="footer-links">
                {% if block.settings.link_label_1 != blank and block.settings.link_url_1 != blank %}
                  <li>
                    <a href="{{ block.settings.link_url_1 }}">{{ block.settings.link_label_1 }}</a>
                  </li>
                {% endif %}
                {% if block.settings.link_label_2 != blank and block.settings.link_url_2 != blank %}
                  <li>
                    <a href="{{ block.settings.link_url_2 }}">{{ block.settings.link_label_2 }}</a>
                  </li>
                {% endif %}
                {% if block.settings.link_label_3 != blank and block.settings.link_url_3 != blank %}
                  <li>
                    <a href="{{ block.settings.link_url_3 }}">{{ block.settings.link_label_3 }}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% when 'quick_links_column' %}
            <div class="footer-column">
              <h3 class="footer-title">{{ block.settings.title | upcase }}</h3>
              <ul class="footer-links">
                <li><a href="{{ block.settings.wishlist_url }}">Wishlist</a></li>
                <li><a href="{{ routes.checkout_url }}">Checkout</a></li>
                <li><a href="{{ routes.cart_url }}">Cart</a></li>
              </ul>
            </div>
          {% when 'contact' %}
            <div class="footer-contact-block">
              <h3 class="footer-contact-title">{{ block.settings.title | upcase }}</h3>
              <ul class="footer-contact-list">
                <li>
                  <span class="footer-icon">{% render 'icon-location' %}</span>
                  <span>{{ settings.address }}</span>
                </li>
                <li>
                  <span class="footer-icon">{% render 'icon-phone' %}</span>
                  <span>{{ settings.phone }}</span>
                </li>
                <li>
                  <span class="footer-icon">{% render 'icon-email' %}</span>
                  <span>{{ settings.email }}</span>
                </li>
              </ul>
            </div>
        {% endcase %}
      </div>
    {% endfor %}
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-inner">
      <span
        >Copyright &copy; {{ 'now' | date: '%Y' }}
        {{ shop.name -}}
      </span>
      <span>All rights reserved</span>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "logo",
      "name": "Logo Block",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "logo_copy",
          "label": "Text under logo"
        }
      ]
    },
    {
      "type": "information_column",
      "name": "Information Column",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section title",
          "default": "Information"
        },
        {
          "type": "text",
          "id": "link_label_1",
          "label": "Link 1 label",
          "default": "About Miralou"
        },
        {
          "type": "url",
          "id": "link_url_1",
          "label": "Link 1 URL"
        },
        {
          "type": "text",
          "id": "link_label_2",
          "label": "Link 2 label",
          "default": "FAQ"
        },
        {
          "type": "url",
          "id": "link_url_2",
          "label": "Link 2 URL"
        },
        {
          "type": "text",
          "id": "link_label_3",
          "label": "Link 3 label",
          "default": "Contact Us"
        },
        {
          "type": "url",
          "id": "link_url_3",
          "label": "Link 3 URL"
        }
      ]
    },
    {
      "type": "quick_links_column",
      "name": "Quick Links Column",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Section title",
          "default": "Quick Links"
        },
        {
          "type": "url",
          "id": "wishlist_url",
          "label": "Wishlist URL"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Contact us"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}
