<footer class="footer">
  <div class="footer__blocks page-width">
    {% for block in section.blocks %}
      <div class="footer__block footer__block--{{ block.type }}">
        {% case block.type %}
          {% when 'logo' %}
            <div class="footer__logo-copy">
              {{ block.settings.logo_copy }}
            </div>
          {% when 'navigation' %}
            <div class="footer__nav-block">
              <h4>{{ block.settings.nav_title }}</h4>
              <ul class="footer__nav-list">
                {% for link in linklists[block.settings.nav_menu].links %}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% when 'contact' %}
            <div class="footer-contact-block">
              <h3 class="footer-contact-title">{{ block.settings.title | upcase }}</h3>
              <ul class="footer-contact-list">
                <li>
                  <span class="footer-icon">{% render 'icon-location' %}</span>
                  <span>{{ settings.address }}</span>
                </li>
                <li>
                  <span class="footer-icon">{% render 'icon-phone' %}</span>
                  <span>{{ settings.phone }}</span>
                </li>
                <li>
                  <span class="footer-icon">{% render 'icon-email' %}</span>
                  <span>{{ settings.email }}</span>
                </li>
              </ul>
            </div>
        {% endcase %}
      </div>
    {% endfor %}
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-inner">
      <span
        >Copyright &copy; {{ 'now' | date: '%Y' }}
        {{ shop.name -}}
      </span>
      <span>All rights reserved</span>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "logo",
      "name": "Logo Block",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "logo_copy",
          "label": "Text under logo"
        }
      ]
    },
    {
      "type": "navigation",
      "name": "Navigation Block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "nav_title",
          "label": "Navigation Title"
        },
        {
          "type": "link_list",
          "id": "nav_menu",
          "label": "Navigation Menu"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Contact us"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}
